.side-img img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.floating {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.floating-delay-1 {
    animation-delay: .5s;
}

.floating-delay-2 {
    animation-delay: 1s;
}


#footer-image {
    background: url(../img/images/1920px/Footer/Livelio_FOOTER-1920px.jpg) no-repeat;
    background-size: cover;
    background-position: top center;

    &>div {
        width: 1080px;
        border-bottom: 2px solid #fff;
    }
}

@media screen and (max-width:1300px) {
    #footer-image {
        background: url(../img/images/1300px/Footer/Livelio_FOOTER-1300px.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
    }
}

@media screen and (max-width:900px) {
    #footer-image {
        background: url(../img/images/900px/Footer/Livelio_FOOTER-900px.jpg) no-repeat;
        background-size: cover;
        background-position: top center;
    }
}