body {
    overflow-x: hidden;
}

.row-max-width {
    max-width: 1600px;
}

#footer-gallery {
    padding-top: 600px
}

#header {
    height: 805px;
    padding-left: 40vw;
    padding-top: 100px;
    margin-bottom: 350px;

    @media (max-width:1600px) {
        height: 660px;
        padding-left: 40vw;
        padding-top: 100px;
        margin-bottom: 350px;
    }

    @media (max-width:1300px) {
        height: 700px;
        padding-left: 40vw;
        padding-top: 100px;
        margin-bottom: 350px;
    }

    @media (max-width:900px) {
        height: 650px;
        padding-left: 40vw;
        padding-top: 100px;
        margin-bottom: 350px;
    }

    @media (max-width:600px) {
        height: 485px;
        padding-left: 40vw;
        padding-top: 100px;
        margin-bottom: 350px;
    }
}