/* COLOR THEME */
$white: #fff;
$black: #000;
$red: #F29492;
$blue: #58ABE1;
$darkblue: #007EAE;
$lightblue: #B0DDF0;
$extralightblue: #E6EBF5;
$green: #78C8C9;
$lightgreen: #B4E7E8;
$yellow: #FFCC00;

.text-white {
    color: $white
}

.text-black {
    color: $black;
}

.text-red {
    color: $red;
}

.text-blue {
    color: $blue;
}

.text-blue {
    color: $blue;
}

.text-darkblue {
    color: $darkblue;
}

.text-lightblue {
    color: $lightblue;
}

.text-green {
    color: $green;
}

.text-lightgreen {
    color: $lightgreen;
}

.text-yellow {
    color: $yellow;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-red {
    background-color: $red;
}

.bg-blue {
    background-color: $blue;
}

.bg-darkblue {
    background-color: $darkblue;
}

.bg-lightblue {
    background-color: $lightblue;
}

.bg-extralightblue {
    background-color: $extralightblue;
}

.bg-green {
    background-color: $green;
}

.bg-lightgreen {
    background-color: $green;
}

.bg-yellow {
    background-color: $yellow;
}

.border-green {
    border: 2px solid $green;
}

.hidden {
    display: none !important;
}


/* TEXT SIZING */
p {
    font-size: 16px !important;
}

#footer a {
    text-decoration: none;
    color: black;
    font-size: 12px
}

#footer a:hover {
    text-decoration: underline;
}

.verticallinks {
    top: 120px;
    right: -120px;
    transform: rotate(90deg);

    a {
        color: rgba(0, 0, 0, 0.5);
    }

    a:hover {
        color: rgba(0, 0, 0, 0.9);
    }
}


.custom-link {
    color: $black;
    font-style: italic;
    border-bottom: 2px solid $red;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: $red;
        text-decoration: none;
    }

    .white-link {
        color: $black;
        border-bottom: 2px solid $white;

        &:hover {
            color: $white;
        }
    }
}

.custom-white-link {
    color: $black;
    font-style: italic;
    border-bottom: 2px solid $white;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.header-01 {
    font-size: 55px;

    @media (max-width:1600px) {
        font-size: 55px;
    }

    @media (max-width:1300px) {
        font-size: 55px;
    }

    @media (max-width:900px) {
        font-size: 55px;
    }

    @media (max-width:600px) {
        font-size: 55px;
    }
}

.header-02 {
    font-size: 85px;

    @media (max-width:1600px) {
        font-size: 60px;
    }

    @media (max-width:1300px) {
        font-size: 50px;
    }

    @media (max-width:900px) {
        font-size: 40px;
    }

    @media (max-width:600px) {
        font-size: 30px;
    }
}

.header-03 {
    font-size: 45px;

    @media (max-width:1600px) {
        font-size: 45px;
    }

    @media (max-width:1300px) {
        font-size: 45px;
    }

    @media (max-width:900px) {
        font-size: 45px;
    }

    @media (max-width:600px) {
        font-size: 45px;
    }
}