/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
    font-family: 'Helvetica Neue';
}
strong{ font-weight: bold; }

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }

*[contenteditable] { cursor: text; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { box-shadow: 0px 0px 22px 2px black; }

span[contenteditable] { display: inline-block; }

/* heading */

h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }

/* table */

table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td {    border-style: none; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }

/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

/*
body { box-sizing: border-box; height: 12in; margin: 0 auto; overflow: hidden;  width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }
*/

#mainContainer{
    width: 100%; height: 100%; margin: 10px auto; display: block; position: relative;
}

/* header */

header { position: relative; margin: 0 0 3em; background: url(head.png) no-repeat; background-size: cover; height:285px }
header:after { clear: both; content: ""; display: table; }

header h1 { position:absolute; left:540px;top:71px;color:#FFF; margin: 0 0 1em; padding: 0.5em 0; }
header address {color: white; position: absolute;left:539px;top:110px;  }
header address .client { font-size: 25px; line-height: 1.0; font-weight: bold; 'HelveticaNeueLT'; }

header address p { margin: 0 0 4px; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }

footer{
    display: block; position: absolute;top: 833px;     left: -82px;    width: 125%; height: 105px; overflow: hidden;
}
footer img.footLogo{
    position: absolute; top: 0; left: 0; width: 100%;
}
footer img.spacer{
    width: 10px; height: auto;
}
footer div{
        position: absolute;
    top: 50px;
    text-align: center;
	width: 100%;
}
footer p {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 14px;
}

/* article */
#prefix,.prefix{float: right}
article, article address, table.inventory { margin: 0 0 3em; }

#metaContainer {     margin-top: -120px; height: 100px; }
#additionalMsg{
    display: block;  text-align: left; margin: 35px 0 15px 0;
}
#additionalMsg p{ text-align: left; display: block; font-size: 13px; }

article{width: 80%; padding: 0 10%;     margin: -50px auto; height: 82%;}
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }

/* table meta & balance */

table.meta, table.balance   { width: 36%; }
table.balance               { float: right;    margin-top: 30px; }
table.meta                  { float: left;  }
table.meta.metaSum          { float: left;     margin-top: 10px; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }

/* table meta */

table.meta th {width: 75%; }
table.meta td { width: 102%; }

/* table items */

table.inventory {
	clear: both;
	width: 100%;
	margin: 30px auto 30px;
    border-spacing: 0px;
	border: 3px solid #F9B690;
    border-bottom: 1px solid #F9B690;
    border-left: 1px solid #F9B690;
}
table.inventory th { background: #F9B690; font-weight: bold; text-align: center; }
table.inventory th:nth-child(4) { background: #F36E21; font-weight: bold; text-align: center;  }

table.inventory td { border: 2px solid #F9B690; border-top: 1px solid #f9b690}
table.inventory td:nth-child(1) { width: 64%;    border-right: 0; }
table.inventory td:nth-child(2) { text-align: right; width: 12%;    border-right: 0; }
table.inventory td:nth-child(3) { text-align: right; width: 12%;     border-right: 0;}
table.inventory td:nth-child(4) { text-align: right; width: 12%;    border-right: 0; }

/* table balance */

table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }

/* aside */
aside{
    display: block;
    position: absolute;
        top: 793px;
}

/* javascript */

.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

.tinytext{
    font-size: 10px;
}
.hide{
    display: none;
}
.bold{
	font-weight: bold;
}
.whiteBack{
    background: white;
}
.orangeBoldWhiteText{
    background: #F36E21;
    color: white;
    font-weight: bold;
}
*[total-tag], *[price-tag], *[sum-tag] {
    float: right;
    margin-right: 10px;
}
#facture-devis {
    font-size: 25px;padding-top: 5px; font-weight: bold; line-height: 1.0; font-family: 'JaapokkienchanceRegular';
}

#addressBill {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 14px;
}
.tva_client{
    font-size: 15px;
}
#clientBill {
    font-size: 22px; line-height: 1.0; font-weight: bold; font-family: 'HelveticaNeueLT';
}
#bill {
    height: 12in;
    width: 8.5in;
    background: white;
    border-radius: 1px;
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    margin-left: 245px;
    position: absolute;
    box-sizing: border-box;
}
#bills {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #636363;
    border-right: 1px solid black;
    color: #e4e4e4;
    font-size: 18px;
    letter-spacing: 1px;
}
#bills h2 {
    text-align: center;
    font-family: JaapokkienchanceRegular;
    font-size: 25px;
    margin: 10px;
}
#bills p {
    font-family: 'JaapokkienchanceRegular';
    text-align: center;
    padding: 2px 0 2px 0;
}




@media print {
	* { -webkit-print-color-adjust: exact; margin: 0; padding: 0; }
	html { background: none; padding: 0; }
	body { }
	span:empty { display: none; }
	.add, .cut { display: none; }

    header address p { margin: 0 0 4px; }
    footer p {
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 14px;
    }

    body { width: 100%; height: 100%;  box-shadow: none; margin: 0; padding: 0; }
	#bills{display: none;}
    #bill {
    	box-shadow: none; margin: 0;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
    }
}

@page { margin: 0; }
