@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background-color:#f1f1f1;
}

body{
	min-height:600px;
	padding : 0;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

h2{
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;
	color: #B3ACAC;
	text-shadow: 0px 0px 24px #ffffff;
	font-size: 35px;
}
p{
	font-family: 'Iceland', cursive;
	font-size:25px;
	text-shadow:1px 1px 1px #ffffff;
}


/*----------------------------
	Container & textbox
-----------------------------*/


#container{
	margin: 0 auto;
	padding: 200px 0 100px;
	width: 650px;
	position:relative;
	min-height: 90px;	
}
#container:before{
	content: ">";
	left: -40px;
	opacity: 0.25;
	position: absolute;
	top: 210px;
}
/***********************************************************************
* SIGNATURE
************************************************************************/
#signature{ 
	z-index : 10;
	position:fixed;	
	/*top:50px;*/
	width:100%;
	margin:0;
	padding:0;
	color:black;
	font-size:120px;
	font-family: 'Trade Winds', cursive;
	text-shadow: 0px 0px 60px #D90000;
	text-align:center;
}
#signature span{
	
}

#ascensor div div{
	display:block;
	width:800px;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 30px 30px 136px -45px black;
	padding:10px;
}
/***********************************************************************
* NAVIGATION
************************************************************************/
#ascensor>div:nth-of-type(1){
    /*background:lightgreen;
	/*background: url(http://fc08.deviantart.net/fs71/f/2013/147/7/a/road_9_by_ashishdhawan-d66re0p.jpg) 0 0 no-repeat;*/
    background-size: cover;
} 
#ascensor>div:nth-of-type(2){
    /*background:lightblue;
    /*background: url(http://fc08.deviantart.net/fs71/f/2013/147/f/8/road_11_by_ashishdhawan-d66refy.jpg) 0 0 no-repeat;*/
    background-size: cover;
} 
#ascensor>div:nth-of-type(3){
    /*background:lightgray;
    /*background: url(http://fc06.deviantart.net/fs71/f/2013/146/7/7/railroad_tracks_by_owenb23-d66nz1i.jpg) 0 0 no-repeat;*/
    background-size: cover;
}
#ascensor>div:nth-of-type(4){
    /*background:#FFCC99;
    /*background: url(http://fc06.deviantart.net/fs70/f/2010/334/7/0/the_road_by_sultan_alghamdi-d33x6b3.jpg) 0 0 no-repeat;*/
    background-size: cover;
} 
#ascensor>div:nth-of-type(5){
    /*background:#FFFFBF;
    /*background: url(http://fc08.deviantart.net/fs21/i/2010/110/f/f/on_the_road_by_rainyface.jpg) 0 0 no-repeat;*/
    background-size: cover;
} 
#ascensor>div:nth-of-type(6){
    /*background:#FFDFF7;
    /*background: url(http://fc07.deviantart.net/fs71/i/2011/268/f/6/road_to_eternity_by_chupadnb-d2eya3m.jpg) 0 0 no-repeat;*/
    background-size: cover;
}