
  <header>
    <div id="overlayNav" class="overlay">
      <div class="overlay-content">
        <a href="index.html">
          <sup class="text-muted">01</sup>
          HOME
        </a>
        <a href="participation.html">
          <sup class="text-muted">02</sup>
          PARTICIPATION, CONDITIONS & PROCEDURES
        </a>
        <a href="programme.html">
          <sup class="text-muted">03</sup>
          PROGRAMME
        </a>
        <a href="partners.html">
          <sup class="text-muted">04</sup>
          PARTNERS
        </a>
        <a href="participants.html">
          <sup class="text-muted">05</sup>
          PARTICIPANTS
        </a>
        <a href="access.html" target=_blank>
          <sup class="text-muted">06</sup>
          ACCESS THE PLATFORM</a>
        <a href="contact.html">
          <sup class="text-muted">07</sup>
          CONTACT
        </a>
      </div>
    </div>
  </header>