@import url(http://fonts.googleapis.com/css?family=Trade+Winds);

/*-------------------------
Simple reset
--------------------------*/


*{
margin:0;
padding:0;
}


/*-------------------------
General Styles
--------------------------*/


html{
	/*background-color:#f1f1f1;*/
	background:none;
	height: 100%;
}

body{ 
	height: 100%;
	overflow-x:hidden;
	background:none;
} 

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

p {
	font-family: 'Iceland', cursive;
	font-size:25px;
	text-shadow:1px 1px 1px #ffffff;
}
/***********************************************************************
* SIGNATURE
************************************************************************/
#signature{ 
	font-size: 120px;
	font-family: 'Trade Winds', cursive;
	text-shadow: 0px 0px 60px #99FFE5;
	text-align: center;
	line-height: 135px;
}
#signature span{

}
#container{
	width: 100%;
	/*height: 600px;*/
	background:none;
}
 
#ascensor{
	position:relative;
}

#ascensor div div{
	display:block;
	width:960px;
	height:auto;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 30px 30px 136px -45px black;
	padding:10px;
	opacity:0.0;
}
#mySpecs{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#mySpecs h2{
	font-family: 'Orbitron', sans-serif;
	font-weight: 900;
	color: #B3ACAC;
	/*text-shadow: 0px 0px 24px #ffffff;*/
	font-size: 28px;
	/*display : inline-block;*/
	opacity:0.0;
	margin-top:-50px;
}
#mySpecs h2:nth-of-type(0){
	background:red;
}
#mySpecs a{
	margin-right:10px; 
	text-align:center;
	display:inline-block;
	text-decoration: none;
}
.movieBlock{
	background:#1F1F1F;
}

#adminBlock {
	position:fixed; z-index:10;
	bottom: -123px;
	left: -335px;
	display:block;
	width: 340px;
	height:125px;
	background:white;
	border:1px solid black;
	padding : 5px;
}
#adminBlock label{
	display:inline-block;
	width:120px;
	margin-top:5px;
	font-family: 'Iceland', cursive;
	font-size:20px;
	text-shadow:1px 1px 1px #ffffff;
}
#adminBlock input[type=submit]{
	margin-top:5px;
}
