/* CRT EFFECT (src: http://aleclownes.com/2017/02/01/crt-display.html) */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}

/* ******************************** */

.content {
  color: #62C85B;
  font-family: 'Orbitron', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #61F5A1;
  position: relative;
}
@keyframes glitch-anim-1 {
  0% {
    clip: rect(4px, 1084px, 8px, 0);
  }
  5.8823529412% {
    clip: rect(75px, 1084px, 20px, 0);
  }
  11.7647058824% {
    clip: rect(69px, 1084px, 33px, 0);
  }
  17.6470588235% {
    clip: rect(67px, 1084px, 101px, 0);
  }
  23.5294117647% {
    clip: rect(92px, 1084px, 102px, 0);
  }
  29.4117647059% {
    clip: rect(22px, 1084px, 5px, 0);
  }
  35.2941176471% {
    clip: rect(76px, 1084px, 55px, 0);
  }
  41.1764705882% {
    clip: rect(111px, 1084px, 112px, 0);
  }
  47.0588235294% {
    clip: rect(111px, 1084px, 94px, 0);
  }
  52.9411764706% {
    clip: rect(84px, 1084px, 54px, 0);
  }
  58.8235294118% {
    clip: rect(79px, 1084px, 99px, 0);
  }
  64.7058823529% {
    clip: rect(20px, 1084px, 26px, 0);
  }
  70.5882352941% {
    clip: rect(17px, 1084px, 12px, 0);
  }
  76.4705882353% {
    clip: rect(23px, 1084px, 23px, 0);
  }
  82.3529411765% {
    clip: rect(44px, 1084px, 56px, 0);
  }
  88.2352941176% {
    clip: rect(62px, 1084px, 59px, 0);
  }
  94.1176470588% {
    clip: rect(102px, 1084px, 56px, 0);
  }
  100% {
    clip: rect(59px, 1084px, 99px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(32px, 1084px, 110px, 0);
  }
  5.8823529412% {
    clip: rect(1px, 1084px, 103px, 0);
  }
  11.7647058824% {
    clip: rect(2px, 1084px, 97px, 0);
  }
  17.6470588235% {
    clip: rect(3px, 1084px, 95px, 0);
  }
  23.5294117647% {
    clip: rect(30px, 1084px, 39px, 0);
  }
  29.4117647059% {
    clip: rect(107px, 1084px, 73px, 0);
  }
  35.2941176471% {
    clip: rect(84px, 1084px, 84px, 0);
  }
  41.1764705882% {
    clip: rect(88px, 1084px, 112px, 0);
  }
  47.0588235294% {
    clip: rect(96px, 1084px, 39px, 0);
  }
  52.9411764706% {
    clip: rect(73px, 1084px, 52px, 0);
  }
  58.8235294118% {
    clip: rect(15px, 1084px, 63px, 0);
  }
  64.7058823529% {
    clip: rect(80px, 1084px, 88px, 0);
  }
  70.5882352941% {
    clip: rect(33px, 1084px, 57px, 0);
  }
  76.4705882353% {
    clip: rect(19px, 1084px, 76px, 0);
  }
  82.3529411765% {
    clip: rect(33px, 1084px, 71px, 0);
  }
  88.2352941176% {
    clip: rect(57px, 1084px, 63px, 0);
  }
  94.1176470588% {
    clip: rect(4px, 1084px, 4px, 0);
  }
  100% {
    clip: rect(113px, 1084px, 74px, 0);
  }
}
.content:before, .content:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.content:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.content:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

/* ******************************** */
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);



.victory {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 100px;
  -webkit-transform: skew(-15deg,-15deg);
/*  padding-left: 80px;*/
    padding-top: 150px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    text-align: center;
}

/* ******************************** */

/* Main styling */
body{ 
/*    background: #000; */ color: #fff; position: relative; 
/*    background: white;  */
    background: url(back.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body:after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: url(tv_shadows_reflect.png) no-repeat center/cover;
    pointer-events: none;
}
#wrapper{
    margin-bottom: 120px;   
}
#contentwrapper{
/*    max-width: 800px;*/
/*    max-width: 60vw;*/
    max-width: 250px;
    margin: 50px auto;
}
h1{
}
h2.subtitle{
    color: white;
    text-align: center;
/*    text-shadow: none;*/
    font-family: 'Press Start 2P', cursive;
/*    max-width: 800px;*/
    max-width: 60vw;
    margin: 0 auto;
}
h2.console{
/*    color: lime;*/
    color: white;
/*    text-shadow: 0 0 20px lime;*/
    font-family: 'Press Start 2P', cursive;
    position: relative;
}
h2.console:hover{
    cursor: pointer;
}
h2.console.selected:before {
    content: '';
    position: absolute;
    left: -50px;
    top: -7px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid white;
    animation: blink 1s infinite, txtblink 1s infinite;
}
@keyframes blink{
    90%{ border-left: 35px solid transparent; }
}
@keyframes txtblink{
    90%{ color: #fff; text-shadow: 0 0 20px #fff }
    99%{ color: lime; text-shadow: 0 0 20px lime; }
}
.spacebar{
    border: 2px solid white;
    font-size: 18px;
    padding: 0 15px; 
}

/* info panel design */
.infopanel{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 70vh;
    margin: 15vh 25vw;
    background: #000000d6;
    border: 5px groove lime;
    z-index: 99;
    display: none;
    overflow: hidden;
}
.infopanel.visiblepanel{
    display: block;
}
.infopanel .infocontainer{
    position: relative; 
    width: calc(100% - 30px);
    height: 100%;
    background: black;
    padding: 5px 15px;
}
.infopanel h3,.infopanel p{
    font-family: 'Press Start 2P', cursive;
}
.infowrapper {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 20px 0 0 20px;
}
.blinkInfo { 
    position: absolute;
    bottom: 20px;
    left: -20px;
    width: 100%;
    text-align: center;
    animation: txtblinkwhite 1s infinite;
}
.blinkingChar { 
    animation: txtblinkwhite 1s infinite;
}
@keyframes txtblinkwhite{
    50%{ color: #fff;  }
    99%{ color: transparent; }
}

body{    background: #000; }
body:after{ display: none; }

#tvcontainer{
    position: fixed;
    top: 50vh;
    left: 0; 
    width: 100vw;
    height: 1px;
    display: block;
    z-index: 99999;
    overflow: visible;
}
#tvwrapper{
    display: block;
    width: 75%;
    height: 0;
    margin-left: 12.5%;
    margin-top: -35%;
    padding-bottom: 70%;
    position: relative;
    overflow: hidden;
    background: url(back.jpg) no-repeat center/cover;
}
#tvwrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(tv_shadows_reflect.png) no-repeat center/cover;
    pointer-events: none;
}
.infopanel {
    position: absolute;
    top: 1%;
    left: 0;
    width: 75%;
    height: 75%;
    margin: 10% 0 0 12.5%;
    background: #000000d6;
    border: 5px groove lime;
    z-index: 99;
    display: none;
    overflow: hidden;
}
h2.subtitle {
    max-width: 70%;
}
@media all and (min-width: 1600px){
    
    #tvwrapper{ 
        margin-top: -27.5%;
        padding-bottom: 55%;
    }
    .infopanel{
        width: 60%;
        height: 60%;
        margin: 15% 0 0 20%;
    }
}
@media all and (max-width: 1200px){
    
    #tvwrapper{
        width: 100%;
        margin-left: 0%;
        margin-top: -45%;
        padding-bottom: 90%; 
    }
    .infopanel h3, .infopanel p {
        font-size: 14px;
    }
    
}
@media all and (max-width: 900px){
    #wrapper {
        margin-bottom: 60px;
    }
    .victory {
        font-size: 50px;
        padding-top: 100px; 
    }
    h2.subtitle {
        font-size: 14px;
    }
    #contentwrapper {
        max-width: 160px; 
        margin: 30px auto;
        font-size: 10px;
    }
    .infopanel h3, .infopanel p { 
        font-size: 10px;
    }
}
@media all and (max-height: 800px){
    #wrapper {
        margin-bottom: 60px;
    }
    .victory {
        font-size: 50px;
        padding-top: 100px; 
    }
    h2.subtitle {
            max-width: 50%; 
    }
    .infopanel h3, .infopanel p {
        font-size: 14px;
    }
    #tvwrapper{
        margin-top: -25%;
        padding-bottom: 50%;
    }
}
a {
    text-shadow: none;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    color: #0980d7;
    animation: blinklink 3s infinite; 
}
@keyframes blinklink{
    50%{ color: #fff;  }
    99%{ color: #be13c5; }
}