@font-face {
    font-family: 'jaapokkiregularregular';
    src: url('fonts/jaapokki-regular-webfont.eot');
    src: url('fonts/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('fonts/jaapokki-regular-webfont.woff') format('woff'),
         url('fonts/jaapokki-regular-webfont.ttf') format('truetype'),
         url('fonts/jaapokki-regular-webfont.svg#jaapokkiregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

*{
    font-family: 'Fira Sans', sans-serif;
}
html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
} 
body{                
    margin-top: 100vh;
    overflow-x: hidden;
} 
a {
    text-decoration: none;
    color: inherit;
}
.color-white{
    color: #fff !important;
}
.underlined{
    text-decoration: underline;
}
/* ********** HOME AREA ********** */
#accueil{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background: #454545;
    display: table;
}
body #accueil::after{
/*    background: #169a76;*/
    background: rgba(0,0,0,0.8);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0;
    left: 0;
    z-index: 0;
/*    transition: background-color 1s;*/
}
/* 
body.contentLoaded #accueil::after{
    background: rgba(0,0,0,0.8);
    transition: background-color 1s;
}
*/
#bgvid{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%; 
    height: 100vh;
    text-align: center;
    z-index: 0;
    
    background: url(video/video-placeholder.JPG) no-repeat;
    background-size: cover;
    background-position: center;
}
#clip-twocan{
    opacity: 0.001;
}
#clip-twocan.visibleVideo{
    opacity: 1.0;
}
#bgvid video{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
#accueil #punchline{
    display: table-cell;
    vertical-align: middle;
}
#accueil #punchline #calliheader{
    width: 100%;
    height: 50vh;
    margin: 170px auto 0;
    background: url(img/logo_blanc.svg) no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 5;
}
body #accueil #punchline #baseline{
    width: 80vw;
    height: 35px;
    margin: 30px auto;
    position: relative;
    color: #fff;
    overflow: hidden;
/*
    opacity: 0.0;
    transition: opacity 1s;
*/
} 
/*
body.contentLoaded #accueil #punchline #baseline{
    opacity: 1.0;
    transition: opacity 1s;
}
*/
#accueil #punchline #baseline #baselineskills{
    text-align: left;
    width: 80vw;
/*    background: blue;*/
/*
    display: inline-block; 
    position: absolute; 
    height: auto;
    animation: skillsAnim 12s steps(10, end) infinite; 
    animation-timing-function: step-middle;
*/
}
/*
@keyframes skillsAnim{
    0%, 100%    { top: 0px; }
    25%         { top: -35px; }
    50%         { top: -70px; }
    75%         { top: -105px; }
}
*/
#accueil #punchline #baseline #baselineskills .baselineskill {
    display: block;
    width: 80vw;
    font-family: 'jaapokkiregularregular';
    height: 35px;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
/*    background: red;*/
}  
#accueil #punchline a{
    text-decoration: none;    
    position: relative;
    z-index: 5;
    height: 35px;
    width: 230px;
    margin: 50px auto;
    display: block;
}
#accueil #punchline a:hover{
    text-decoration: none;                
}
#accueil #punchline #morelink{
    width: 230px;
    position: absolute;
    height: 35px;
    top: 0;
    left: 0;
    line-height: 35px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: rgb(22, 154, 118);
    border: 2px solid rgba(22, 154, 118, 0.52);
    background: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ie-transition: all .5s; 
    -o-transition: all .5s;
    transition: all .5s;
    font-family: 'jaapokkiregularregular';
}
#accueil #punchline #morelink:hover{
    cursor: pointer;
    color: #fff;
    border: 2px solid #f26f21;
    background: rgba(242, 111, 33, 0.4);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ie-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.owl-stage{
    -ms-overflow-y: hidden; /* IE overflow fix */ 
}
/* ********** NAV AND MENU ********** */
body #globalnav { 
    position: fixed;
    top: 0;
    left: 0;
    width: calc( 100% - 70px );
    height: calc( 100vh - 70px );
    margin: 30px;
    border: 6px solid transparent;
    pointer-events: none;
    z-index: 11;  
    transition: all .5s, opacity 1s; 
    transition-delay: .5s;
/*    opacity: 0.0;*/
} 
@media all and (max-width:1100px){    
    body #globalnav { 
        width: calc( 100vw - 37px ) !important; 
        height: calc( 100vh - 23px ) !important;
        margin: 11px 0 0 11px !important;
        border: 0 !important;
    } 
}
/*
body.contentLoaded #globalnav{
    opacity: 1.0;
    transition: opacity 1s;
}
*/
#globalnav.visibleMenu { 
    margin: 0;
    border: 35px solid rgb(8, 88, 66);
    pointer-events: all;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ie-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}  
#globalnav #logoheader{
    height: 46px;
    margin: 50px 0 0 50px;
    pointer-events: all;
    position: absolute;
    z-index: 2;
    background: url(img/Baseline_blanc_twocan.svg) no-repeat;
    width: 150px;
    background-size: contain;
}
#globalnav #logoheader:hover{
    cursor: pointer;
}
#globalnav.darkcolors #logoheader{
    background: url(img/Cartouche_orange.svg) no-repeat;
    background-size: contain;
}
#globalnav #menu{
    pointer-events: all;
    position: absolute;
    top: 65px;
    right: 60px;
    z-index: 2;
}
.corner, .corner::after {
    display: block;
    position: absolute;
    background: url(img/Corner_twocan_white.svg) no-repeat;
    width: 70px;
    height: 70px;
    background-size: 45px;
    pointer-events: none;
}
.corner::after {
    content: '';
    background: url(img/Corner_twocan_orange.svg) no-repeat;
    background-size: 45px;
    opacity: 0.0;
    transition: opacity 1s;
}
.darkcolors .corner::after {
    opacity: 1.0;
    transition: opacity 1s;
}
.corner.cornertopleft {
    top: -6px;
    left: -6px;
}
.corner.cornertopright {
    top: -6px;
    right: -6px;
    transform: rotate(90deg);
}
.corner.cornerbottomright {
    bottom: -6px;
    right: -6px;
    transform: rotate(180deg);
}
.corner.cornerbottommeft {
    bottom: -6px;
    left: -6px;
    transform: rotate(270deg);
}
.menuborder {
    position: absolute;
    border: 6px solid #fff;
    pointer-events: none;
    transition: border-color 1s;
}
.darkcolors .menuborder {
    border: 6px solid #f26f21;
    transition: border-color 1s;
}
.menuborder.menuborderhor {
    height: calc( 100% - 75px);
    width: 100%;
    top: 38px;
    left: -6px;
    border-top: 0;
    border-bottom: 0;
}
.menuborder.menuborderver {
    height: 100%;
    width: calc( 100% - 75px);
    top: -6px;
    left: 38px;
    border-left: 0;
    border-right: 0;
}
.burger, .burger::before, .burger::after {
  position: absolute;
  width: 40px;
  height: 5px;
  -moz-transition: all 0.3s; 
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.darkcolors .burger, .darkcolors .burger::before, .darkcolors .burger::after {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-color: #f26f21;
}
.burger::before, .burger::after {
  content: ""; 
  display: block;
}
.burger::before {
  margin-top: -10px;
  border-top: 5px solid #fff;
    height: 7px;
  border-bottom: 5px solid white;
}
.visibleMenu .burger::before {
  border-bottom: 5px solid transparent;
}
.burger::after { 
    height: 13px;
  border-bottom: 5px solid #fff;
}
.visibleMenu .burger {
  background: none;
}
.burger:hover,.burger::before:hover, .burger::after:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.72);
}
.visibleMenu .burger::before {
  margin-top: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.visibleMenu .burger::after {
  margin-top: 0px;
  -moz-transform:       rotate(45deg) translateY(-7px) translateX(-6px);
  -ms-transform:        rotate(45deg) translateY(-7px) translateX(-6px);
  -webkit-transform:    rotate(45deg) translateY(-7px) translateX(-6px);
  transform:            rotate(45deg) translateY(-7px) translateX(-6px);
}
#menulist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 101, 76, 0.98);
    transform: scale(0.0);
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}
@media all and (max-width:1100px){
    #menulist {
        top: -11px !important; 
        left: -11px !important;
        width: 100vw !important;
        height: 100vh !important;
    }
}
#menulist ul { 
    list-style: none;
    margin: 15vh 0;
    padding: 0;
    display: block;
}
#menulist ul a{ 
    text-decoration: none;
}
#menulist ul li {
    display: block;
    width: 100%;
    height: 20%;
    font-size: 7vh;
    margin-bottom: 5vh;
    text-align: center;
    color: white;
    transition: color .5s;
}
#menulist ul li:hover {
    color: #f26f21;
    transition: color .5s;
    cursor: pointer;
}
#menulist ul li span{ 
    position: relative;
}
/*
#menulist ul li span:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #f26f21;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#menulist ul li:hover span:before {
    height: 5px;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}
*/
.visibleMenu #menulist {
    transform: scale(1.0);
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}

/* ********** GENARAL CONTENT ********** */
h1,h2,h3,h4{
    font-family: 'jaapokkiregularregular';
    text-align: center;
    color: #000;
/*    text-transform: uppercase;*/
    position: relative;
    font-weight: normal;
    transform: translateY(-30px);
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
    opacity: 0.2;
}            
h1 .subheader, h2 .subheader, h3 .subheader, h4 .subheader{
color: #f26f21;
    text-transform: none;
    display: block;
    font-weight: bold; 
    transform: translateY(-10px);
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}
h2{
    font-size: 35px;
    position: relative;
    padding: 30px 0 20px;
}
h2::before {
    content: '';
    position: absolute;
    width: 0%;
    left: 50%;
    bottom: 5px;
    height: 5px;
    background: #f26f21;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}
h2 .subheader{
    font-size: 25px;
    font-family: 'jaapokkiregularregular';
    line-height: 20px;
}
.section{
    padding: 50px;    
    min-height: calc( 50vh - 100px );
    position: relative;
}
.section.visibleSection{

}            
.section.visibleSection h1,.section.visibleSection h2,.section.visibleSection h3,.section.visibleSection h4{
    transform: translateY(0px);
    opacity: 1.0;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}            
.section.visibleSection h1 .subheader, .section.visibleSection h2 .subheader, .section.visibleSection h3 .subheader, .section.visibleSection h4 .subheader{
    transform: translateY(0px);
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}
.section.visibleSection h2::before {
    width: 20%;
    left: 40%;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transition: all .7s;
    transition: all .7s;
}     
.subsection{
    width: 80%;
    margin: 0 auto;
}
/* ********** PROJECTS AREA ********** */
#projects{
    background: white;
}
#projects {
    padding-bottom: 0;
} 
#projects .project{
    display: inline-block;
    position: relative;
    float: left;
    height: 50vh;
    margin: 20px;
    overflow: hidden;
}
#projects .project:hover{
    cursor: pointer;
}
#projects .project.grid2{
    width: calc( 50% - 40px );   
}
#projects .project.grid3{
    width: calc( 33.33% - 40px );   
} 
@media all and (max-width:1100px){
    #projects .project{
        width: 100% !important;
        margin: 20px 0 !important;
    }
}
#projects .project .innerProject{
    position: absolute;
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    margin: 20px;
    padding: 0;
    top: 0;
    left: 0;
    background: rgba(22, 154, 118, 0.9);
    z-index: 2;
    transform: scale(0.0);
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
#projects .project:hover .innerProject{
    transform: scale(1.0);
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
#projects .project .logoProjetClient{ 
    width: 80%;
    margin: 20% auto 0;
    height: 30%;
    background-size: contain !important;
}
#projects .project h3{
    width: 100%;
    text-align: center;
    font-size: 200%;
    line-height: 300%;
    color: white;
}
#projects .project .projectImg{
    display: block;
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    opacity: 0.0;
    transform: translateY(-30px);
    -moz-transition: opacity .3s, transform .3s;
    -o-transition: opacity .3s, transform .3s;
    -webkit-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}
#projects .project .projectImg.asyncImgVisible{
    opacity: 1.0;
    transform: translateY(0px) scale(1.0);
    -moz-transition: opacity .3s, transform .3s;
    -o-transition: opacity .3s, transform .3s;
    -webkit-transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s;
}
#projects .project:hover .projectImg.asyncImgVisible{
    transform: scale(1.1);
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -webkit-transition: transform .3s;
    transition: transform .3s;
}
/* ********** SKILLS AREA ********** */
#competences{
    background: #fff;
/*
    background: url(img/background-services.jpg) no-repeat;
    background-size: cover;
*/
}
#competences .specsImg{ 
    width: 200px; height: 200px;
    margin: 10px 20px;
    display: inline-block;
    opacity: 0.0;
    transform: translateX(30px);
    -moz-transition: opacity .5s, transform 1s;
    -o-transition: opacity .5s, transform 1s;
    -webkit-transition: opacity .5s, transform 1s;
    transition: opacity .5s, transform 1s;
} 
#competences .specsImg.asyncImgVisible{
    background-size: contain !important;
    opacity: 1.0;
    transform: translateX(0px);
    -moz-transition: opacity .5s, transform 1s;
    -o-transition: opacity .5s, transform 1s;
    -webkit-transition: opacity .5s, transform 1s;
    transition: opacity .5s, transform 1s;
}
.skill {
    display: inline-block;
    width: calc( 25% - 20px);
    margin: 20px 5px;
    float: left;
}
.skill .skillIcon {
    margin: 0;
    width: 100%;
    height: 170px;
    background-size: contain !important;
}
.skill h3{
    color: #f26f21; 
    text-transform: uppercase;
}
.skill .skillDesc {
    margin: 0 auto;
    padding: 30px 10px;
    min-height: 65px;
    height: 65px;
    width: calc( 100% - 20px);
    background: #C0E4DB;
    text-align: left;
    max-width: 250px;
    border-top: 2px solid black;
}
@media all and (max-width:1100px){
    
    .skill {
        height: auto !important;
        width: 100% !important;
    }
    .skill .skillIcon {
        width: 100% !important;        
    }
    .skill h3 {
        width: 100% !important;
    }
    .skill .skillDesc{
        width: 100% !important;
        border: 0 !important;
        margin-bottom: 20px !important;
    }
}
/* ********** PLUME AREA ********** */
#plume{
    background: url(img/plume_background_blur.jpg) no-repeat;
    background-size: cover;
}
#plumeLeft {
    width: 50vw;
    height: auto;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 40px;
}
#plumeRight{
    width: 500px;
    height: 365px; 
    position: relative;
    display: inline-block;
}
#laptopContainer {
    position: relative;
    background: url(img/laptop.svg) 50% 50% / cover no-repeat;
    width: 100%;
    height: 100%;
}
#clip-plume {
    object-fit: cover;
    position: absolute;
    top: 23px;
    left: 72px;
    width: 357px;
    height: 200px;
}
#plumeFeatures{
    
}
.plumeFeatBlock{
    display: block;
    width: calc( 33% - 80px );
    height: auto;
    position: relative;
    float: left;
    margin: 20px;
    padding: 20px;
    background: #55a2d9;
}
.plumeFeatImg{
    width: 100%;
    height: 150px;
    background-size: contain !important;
}
.plumeFeatDescription{
    
}
/* ********** CLIENTS AREA ********** */
#clients{
    background: #169a76;
}
#clients .client{
    display: inline-block;
    float: left;
    height: 130px;
    width: calc( (100% / 10) - (20px * 2) ); 
    margin: 10px 20px;
    background: #d1b0ff;
    transform: scale(0.0);
    opacity: 0.0;
    background-size: contain !important;
    -moz-transition: opacity .5s, transform 1s;
    -o-transition: opacity .5s, transform 1s;
    -webkit-transition: opacity .5s, transform 1s;
    transition: opacity .5s, transform 1s;
}
@media all and (max-width: 1300px){    
    #clients .client{
        width: calc( (100% / 5) - (20px * 2) ); 
    }
}
@media all and (max-width: 800px){    
    #clients .client{
        width: calc( (100% / 2) - (20px * 2) ); 
    }
}
#clients .client.asyncImgVisible{
    transform: scale(1.0);
    opacity: 1.0;
    -moz-transition: opacity .5s, transform 1s;
    -o-transition: opacity .5s, transform 1s;
    -webkit-transition: opacity .5s, transform 1s;
    transition: opacity .5s, transform 1s;
}
/* ********** CONTACT AREA ********** */
#contact{
    background: #000;
    color: #fff;
    overflow: hidden;
}
#contact * {
    font-family: 'Fira Sans', sans-serif;
}
#footerCuicui{
    border-bottom: 3px solid #169a76;
    padding-bottom: 5px;
}
.socialLinks{
    width: calc( 55px * 3);
    height: 30px;
    margin: 20px auto;
}
.socialLinks .socialLink{ 
    float: left;
    width: 40px; height: 40px; margin: 5px;
    display: inline-block;
    opacity: 0.7;
    transition: opacity 1s;
}
.socialLinks .socialLink:hover, .socialLinks .socialLink:active{ 
    opacity: 1.0;
    transition: opacity 1s;
}
.Facebook{
    background: url(img/social_fb.svg) no-repeat;
    background-size: cover;
}
.Facebook:hover{
    background: url(img/social_fb.svg) no-repeat;
    background-size: cover;
}
.LinkedIn{
    background: url(img/social_in.svg) no-repeat;
    background-size: cover; 
}
.LinkedIn:hover{ 
    background: url(img/social_in.svg) no-repeat;
    background-size: cover;
}
.Behance{
    background: url(img/social_be.svg) no-repeat;
    background-size: cover; 
}
.Behance:hover{ 
    background: url(img/social_be.svg) no-repeat;
    background-size: cover;
}
.SocialMail{
    background: url(img/social_mail.svg) no-repeat;
    background-size: cover; 
}
.SocialMail:hover{ 
    background: url(img/social_mail.svg) no-repeat;
    background-size: cover;
}
#twocanFooterLogo{
    display: block;
    background-size: contain !important;
    position: absolute;
    top: 25px;
    left: 75px;
    width: 10%;
    height: calc( 100% - 85px );
}
.footerText{
    display: inline-block;
    width: calc( 50% - 45px );
    padding: 10px 20px;
} 
.footerText p, .footerText p a{
    font-family: 'jaapokkiregularregular';
    position: relative;
    line-height: 30px;
} 
.footerText p a{
    font-family: 'jaapokkiregularregular';
} 
.footerText p a:hover{
    cursor: pointer;
} 
.footerSpecIcon{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: -7.5px;
}
#footerLeft{
    text-align: right;
    border-right: 3px solid #f26f21;
}
#footerRight{
}
@media all and (max-width:1100px){
    .footerText{
        display: block;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center !important;
    }    
    #twocanFooterLogo{
        position: relative !important; 
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 25vh !important; 
        margin: 0 auto !important;
    }
}
/* ************* MODAL ************ */
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
    display: none;
}
#modal.visibleModal{
    display: block;
}
#modalInner{
    position: relative; 
    margin: 150px auto;
    background: #fff;
    max-width: 1100px;
}
#modalTitleContainer{
    padding: 20px;
}
#modalTitleContainer h3{
    margin: 0; 
    padding: 0;
    color: #000;
    transform: none;
    transition: none;
    opacity: 1.0;
    text-align: left;
    font-size: 35px;
    line-height: 45px;
}
#modalTitleContainer h3 #modalTitle, #modalTitleContainer h3 #modalClose{
    font-family: 'jaapokkiregularregular';
}
#modalTitleContainer h3 .modalClose{
    position: absolute;
    top: 10px;
    right: 10px;
}
#modalTitleContainer h3 .modalClose:hover{
    cursor: pointer;
}
#modalBody{
    position: relative;
    width: 100%;
}
#modalBody img.modalImgBlock{
    width: 100%;
    margin: 0; padding: 0;
    height: auto;
}