<!doctype html>
<html lang="en">

<head>
  <title>INTERNATIONAL BUSINESS MEETINGS by b2fair</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link href="assets/css/aos.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  {% include 'menu' %}

  <div id="header" class="container-fluid position-relative">

    <div class="row">

      <div class="d-flex flex-row m-2 p-2">
        <div class="m-3 d-none d-sm-block">
          <a class="text-decoration-none" href="https://www.cc.lu/accueil/" target="_blank">
            <img src="assets/img/b2fair-logo-cc.svg" style="height: 50px" />
          </a>
        </div>
        <div class="m-3 d-none d-sm-block">
          <a class="text-decoration-none" href="https://een.ec.europa.eu/" target="_blank">
            <img src="assets/img/b2fair-logo-een.svg" style="height: 50px" />
          </a>
        </div>
        <div class="m-3 d-none d-md-block">
          <a class="text-decoration-none" href="https://www.b2fair.com/" target="_blank">
            <img src="assets/img/b2fair-logo-b2fair.svg" style="height: 40px" />
          </a>
        </div>
        <div class="m-3">
          <a class="text-decoration-none"
            href="https://www.expo2020dubai.com/en/understanding-expo/participants/country-pavilions/luxembourg"
            target="_blank">
            <img src="assets/img/EXPO Official Country Participant Logo.png" style="height: 50px" />
          </a>
        </div>
      </div>

      <div class="position-absolute toggleNav" style="">
        <img class="" src="assets/img/b2fair-menu-burger.svg" style="width: 50px;" />
        <img class="hidden" src="assets/img/b2fair-menu-fermeture.svg" style="width: 50px; margin-right: 5px;" />
      </div>

      <div class="position-absolute d-flex flex-column" style="top: 32px; right: 30px;">
        <a class="text-decoration-none" href="https://twitter.com/b2fair" target="_blank"><img
            src="assets/img/b2fair-Twitter-NOIR_Plan de travail 1.svg"
            style="padding: 5px; width: 30px; height: 30px;" /></a>
        <a class="text-decoration-none" href="https://www.facebook.com/b2fair/" target="_blank">
          <img src="assets/img/b2fair-Facebook-NOIR_Plan de travail 1.svg"
            style="padding: 5px; width: 30px; height: 30px;" /></a>
        <a class="text-decoration-none"
          href="https://www.linkedin.com/in/b2fair-international-business-cooperation-36040822/?originalSubdomain=lu"
          target="_blank">
          <img src="assets/img/b2fair-Linkedin-NOIR_Plan de travail 1.svg"
            style="padding: 5px; width: 30px; height: 30px;" /></a>
      </div>

    </div>

    <div class="row text-red ml-5 mt-5 pt-5 pl-5 pb-3">
      <h1 class="heading-60px font-bauer font-weight-bold">
        INTERNATIONAL BUSINESS<br />
        MEETINGS by <span class="text-blue font-serif font-weight-bold">b2<i class="font-weight-bold">fair</i></span>
      </h1>
    </div>
    <div class="row text-black ml-5 pl-5 pb-3 heading-30px">
      CONNECTING BUSINESSES,<br />
      CREATING GROWTH @ THE WORLD EXPO 2020
    </div>
    <div class="row ml-5 pl-5">
      <h3 class="d-inline-block text-white bg-lightblue p-1 heading-26px">
        23rd - 25th JANUARY 2022 // DUBAI<br />
      </h3>
    </div>

  </div>

  <div class="container-fluid">

    <div class="row text-center">
      <a href="#aim-of-the-event-is-twofold" class="d-inline-block mx-auto">
        <img src="assets/img/b2fair-fleche.svg" style="height: 70px;" />
      </a>
    </div>

    <div id="content-first-block" class="row row-max-width mx-auto pb-5 mb-5 text-center">
      <div class="col-lg-8 col-12 offset-lg-2 align-self-center">
        <p class="heading-30px font-sans-serif text-blue" data-aos="fade-up">
          THE INTERNATIONAL<br />
          BUSINESS MEETINGS <strong>BY B2FAIR</strong><br />
          AT THE WORLD EXPO 2020
        </p>
        <div class="clearfix"></div>
        <p class="font-weight-bold" data-aos="fade-up">
          A multisectoral business exchange platform connecting businessmen all over the world!
        </p>
        <p class="" data-aos="fade-up">
          The Enterprise Europe Network of the Luxembourg Chamber of Commerce invites you to participate in its
          International Brokerage Event at the World Expo 2020 in Dubai from the 23rd to 25th January 2022.
        </p>
      </div>
    </div>

    <div class="row" id="aim-of-the-event-is-twofold">
      <h3 class="d-inline-block text-white bg-yellow p-1 mx-auto heading-26px" data-aos="flip-up">
        The aim of the event is twofold
      </h3>
    </div>

    <div class="row row-max-width mx-auto text-center mt-2 mb-3" data-aos="fade-up">
      <div class="col-lg-8 col-12 offset-lg-2">
        <p class="font-weight-bold">
          <img class="m-1" src="assets/img/b2fair-bulletpoint.svg" style="width: 20px" />
          To help SMEs and innovative start-ups explore the Middle Eastern market and foster international partnership
          bonds.
        </p>

        <p class=" font-weight-bold" data-aos="fade-up">
          <img class="m-1" src="assets/img/b2fair-bulletpoint.svg" style="width: 20px" />
          To leverage the international dimension of the World Expo by federating concrete market opportunities and
          gathering the business community from all over the world through the organisation of tailored and high-quality
          business meetings.
        </p>

      </div>
    </div>

    <div class="row text-center">
      <img class="mx-auto m-3" src="assets/img/b2fair-icone-register.svg" style="height:100px" data-aos="fade-zoom-in" data-aos-duration="1000">
    </div>

    <div class="row">
      <h3 class="d-inline-block bg-blue p-1 px-2 mx-auto" data-aos="flip-up">
        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=fF9TrbHdp0qojaE6cmk7ikZOWSlUPiFHgcNEkZ3IxSpUNEw5Vk9BN0tVS0FRV1JDODMwRVdUN1pBQSQlQCN0PWcu"
          target=_blank class="text-decoration-none text-white font-sans-serif-bold heading-26px">
          Register here
        </a>
      </h3>
    </div>

    <div class="row row-max-width mx-auto pb-2 mb-2 text-center">
      <div class="col-lg-6 col-12 side-img" style="min-height: 400px;" data-aos="fade-up" data-aos-duration="1500">
        <img class="floating floating-delay-1" src="assets/img/2106_b2fair_handshake2.png">
        <img class="floating floating-delay-2" src="assets/img/2106_b2fair_handshake3.png">
        <img class="floating" src="assets/img/2106_b2fair_handshake1.png">
      </div>
      <div class="col-lg-6 col-12 mt-5 pt-5 text-left">

        <h3 class="d-inline-block text-white bg-blue p-1 heading-26px" data-aos="flip-up">
          Highlights of the matchmaking event
        </h3>
        <p class="text-left pt-2" data-aos="fade-up">
          Organised over 3 days, the Enterprise Europe Network Brokerage Event @ Dubai 2020 will be packed with
          networking opportunities, thematic seminars, visits to companies / special economic zones and international
          business meetings at its core.
        </p>
        <p class="text-left" data-aos="fade-up">
          With 70% of Expo 2020’s visitors anticipating to come from outside of the UAE, this initiative represents an
          ideal opportunity for European SMEs and companies from other countries to create new business leads and to
          enrich their global reach.
        </p>
      </div>
    </div>

    <div class="row row-max-width mx-auto pb-5 m-5 text-center">
      <div class="col-4">
        <img class="mx-auto m-3" src="assets/img/b2fair-icone-programme.svg" style="height:100px" data-aos="fade-zoom-in" data-aos-duration="1000"><br/>
        <a href="programme.html" target=_blank
          class="text-decoration-none text-white bg-blue d-inline-block font-sans-serif-bold heading-26px px-2"
          data-aos="flip-up">
          Discover the program
        </a>
      </div>
      <div class="col-4">
        <img class="mx-auto m-3" src="assets/img/b2fair-icone-participation.svg" style="height:100px" data-aos="fade-zoom-in" data-aos-duration="1000"><br/>
        <a href="participants.html" target=_blank
          class="text-decoration-none text-white bg-blue d-inline-block font-sans-serif-bold heading-26px px-2"
          data-aos="flip-up">
          Discover Participants
        </a>
      </div>
      <div class="col-4">
        <img class="mx-auto m-3" src="assets/img/b2fair-icone-partners.svg" style="height:100px" data-aos="fade-zoom-in" data-aos-duration="1000"><br/>
        <a href="partners.html" target=_blank
          class="text-decoration-none text-white bg-blue d-inline-block font-sans-serif-bold heading-26px px-2"
          data-aos="flip-up">
          Discover our Partners
        </a>
      </div>
    </div>

    <div class="row">
      <h3 class="d-inline-block text-red p-1 mx-auto heading-30px font-bauer font-weight-bold" data-aos="fade-up">
        DUBAI WORLD EXPO 2020
      </h3>
    </div>

    <div class="row row-max-width mx-auto text-center">
      <div class="col-lg-8 col-12 offset-lg-2" data-aos="fade-up">

        <p class="">
          From 1st October 2021 until 31st March 2022, the World Exposition 2020 will take place in Dubai, United Arab
          Emirates. During this time, a record of 192 countries will be attending this event, in the hope to create,
          collaborate and innovate.
        </p>

        <p class="">
          The expo’s main themes: “Connecting Minds, Creating the Future”.<br />
          3 sub pillars will guide participants through this journey: <strong>“Opportunity”, “Mobility” &
            “Sustainability”</strong>.
        </p>

        <p class="">
          With millions of visitors, the next World Expo is brimming with business opportunities and represents a unique
          gateway into new markets for all businesses, offering them the chance to develop relationships with nations,
          multilateral organisations, corporations and research institutions.
        </p>

      </div>
    </div>


    <div class="row row-max-width mx-auto py-5 my-5 text-center" data-aos="fade-up">
      <div class="col-4">
        <div class="text-red heading-60px font-sans-serif-bold" data-aos="zoom-out-down">25</div>
        <div>millions visitors</div>
      </div>
      <div class="col-4 position-relative">
        <div class="position-absolute bg-red d-block" style="top: calc(12%); left: 0; width: 1px; height: 55%;"></div>
        <div class="text-red heading-60px font-sans-serif-bold" data-aos="zoom-out-down">300.000</div>
        <div>Jobs created</div>
        <div class="position-absolute bg-red d-block" style="top: calc(12%); right: 0; width: 1px; height: 55%;"></div>
      </div>
      <div class="col-4">
        <div class="text-red heading-60px font-sans-serif-bold" data-aos="zoom-out-down">50%</div>
        <div>
          Energy used will come<br />
          from renewable sources
        </div>
      </div>
    </div>

    <div class="row py-5 my-5 bg-extralightblue text-center position-relative">

      <div class="mx-auto" style="margin-top: -85px; overflow: visible;">
        <a class="text-decoration-none" href="#multi-sectorial-approach">
          <img src="assets/img/b2fair-fleche.svg" style="height: 70px" />
        </a>
      </div>

      <div class="col-12 py-1">
        <h3 class='mb-5 text-red heading-40px font-bauer font-weight-bold' data-aos="fade-up">
          Who should attend?
        </h3>
        <div class="row">
          <div class="col m-4" data-aos="zoom-out" data-aos-duration="1500">
            <img src="assets/img/b2fair-icone-sme.svg" style="height: 125px;" />
            <p class="text-red font-weight-bold mt-3" style="font-size: 12px !important">
              SMALL & MEDIUM-SIZED <br />
              COMPANIES
            </p>
          </div>
          <div class="col m-4" data-aos="zoom-out" data-aos-duration="1500">
            <img src="assets/img/b2fair-icone-innovative.svg" style="height: 125px;" />
            <p class="text-red font-weight-bold mt-3" style="font-size: 12px !important">
              INNOVATIVE STARTUPS<br />
              AND ENTREPRENEURS
            </p>
          </div>
          <div class="col m-4" data-aos="zoom-out" data-aos-duration="1500">
            <img src="assets/img/b2fair-icone-companies.svg" style="height: 125px;" />
            <p class="text-red font-weight-bold mt-3" style="font-size: 12px !important">
              MULTINATIONAL<br />
              COMPANIES
            </p>
          </div>
          <div class="col m-4" data-aos="zoom-out" data-aos-duration="1500">
            <img src="assets/img/b2fair-icone-research.svg" style="height: 125px;" />
            <p class="text-red font-weight-bold mt-3" style="font-size: 12px !important">
              RESEARCH INSTITUTES<br />
              AND TECHNOLOGY PARKS
            </p>
          </div>
          <div class="col m-4" data-aos="zoom-out" data-aos-duration="1500">
            <img src="assets/img/b2fair-icone-ecoenergy.svg" style="height: 125px;" />
            <p class="text-red font-weight-bold mt-3" style="font-size: 12px !important">
              IMPORTANT<br />
              ECONOMIC PLAYERS
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3 pt-4" data-aos="fade-up">
      <h3 class="d-inline-block text-blue mx-auto font-sans-serif heading-30px mt-3 pt-4">
        LUXEMBOURG'S ROLE IN THE EVENT
      </h3>
    </div>

    <div class="row row-max-width mx-auto pb-5 mb-5 text-center" data-aos="fade-up">
      <div class="col-lg-8 offset-lg-2 col-12">
        <p class="">
          The event will have an international dimension in line with Luxembourg's open attitude and vision of serving
          as a crossroad to access the European market. With an envisaged 3-Day programme, this b2fair event will look
          to showcase the potential of Luxembourg and European companies and facilitate the creation of new synergies
          and business partnerships, during Expo 2020.
        </p>

      </div>
    </div>

    <div class="row row-max-width mx-auto py-5 my-5 text-right">
      <div class="col-lg-6 col-12">

        <h3 id="multi-sectorial-approach" class="d-inline-block text-white bg-yellow p-1 heading-26px"
          data-aos="flip-up">
          Multi sectorial approach
        </h3>

        <p class="" data-aos="fade-up">
          While the envisaged brokerage event will be multi-sectorial and aims to support the presence of a varied
          spectrum of SMEs, it will lay special emphasis on all the priority sectors for the European economy and stay
          in line with the theme of the Expo Connecting Minds, Creating the Future”.
        </p>
        <div class="row text-center pt-5">
          <div class="col-3">
            <img src="assets/img/b2fair-icone-ict.svg" style="height: 100px;" data-aos="fade-up"
              data-aos-duration="1500" />
            <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
              data-aos-duration="1000" data-aos-delay="500">ICT</p>
          </div>
          <div class="col-3">
            <img src="assets/img/b2fair-icone-transport.svg" style="height: 100px;" data-aos="fade-up" data"
              data-aos-duration="1500" />
            <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
              data-aos-duration="1000" data-aos-delay="500">TRANSPORT</p>
          </div>
          <div class="col-3">
            <img src="assets/img/b2fair-icone-biotech.svg" style="height: 100px;" data-aos="fade-up"
              data-aos-duration="1500" />
            <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
              data-aos-duration="1000" data-aos-delay="500">BIO TECHNOLOGY</p>
          </div>
          <div class="col-3">
            <img src="assets/img/b2fair-icone-mobility.svg" style="height: 100px;" data-aos="fade-up"
              data-aos-duration="1500" />
            <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
              data-aos-duration="1000" data-aos-delay="500">MOBILITY</p>
          </div>
        </div>
        <div class="row text-center"">
                      <div class=" col-3">
          <img src="assets/img/b2fair-icone-ecoenergy.svg" style="height: 100px;" data-aos="fade-up" data"
            data-aos-duration="1500" />
          <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
            data-aos-duration="1000" data-aos-delay="500">ECO TECHNOLOGIES</p>
        </div>
        <div class="col-3">
          <img src="assets/img/b2fair-icone-industry.svg" style="height: 100px;" data-aos="fade-up"
            data-aos-duration="1500" />
          <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
            data-aos-duration="1000" data-aos-delay="500">INDUSTRY 4.0</p>
        </div>
        <div class="col-3">
          <img src="assets/img/b2fair-icone-renewalenergy.svg" style="height: 100px;" data-aos="fade-up"
            data-aos-duration="1500" />
          <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
            data-aos-duration="1000" data-aos-delay="500">RENEWABLE ENERGY</p>
        </div>
        <div class="col-3">
          <img src="assets/img/b2fair-icone-circulareconomy.svg" style="height: 100px;" data-aos="fade-up"
            data-aos-duration="1500" />
          <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
            data-aos-duration="1000" data-aos-delay="500">CIRCULAR ECONOMY</p>
        </div>
      </div>
      <div class="row text-center"">
                      <div class=" col-3 offset-3">
        <img src="assets/img/b2fair-icone-logistics.svg" style="height: 100px;" data-aos="fade-up" data"
          data-aos-duration="1500" />
        <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
          data-aos-duration="1000" data-aos-delay="500">LOGISTICS</p>
      </div>
      <div class="col-3">
        <img src="assets/img/b2fair-icone-sustainabledev.svg" style="height: 100px;" data-aos="fade-up"
          data-aos-duration="1500" />
        <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
          data-aos-duration="1000" data-aos-delay="500">SUSTAINABLE DEVELOPMENT</p>
      </div>
      <div class="col-3">
        <img src="assets/img/b2fair-icone-healthtech.svg" style="height: 100px;" data-aos="fade-up"
          data-aos-duration="1500" />
        <p class="text-red font-weight-bold pt-3" style="font-size: 14px !important" data-aos="fade-zoom-in"
          data-aos-duration="1000" data-aos-delay="500">HEALTHTECH</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 side-img" style="min-height: 550px;" data-aos="fade-up" data-aos-duration="1500">
    <img class="floating floating-delay-1" src="assets/img/2106_B2FAIR_Pavillon2.png">
    <img class="floating floating-delay-2" src="assets/img/2106_B2FAIR_Pavillon3.png">
    <img class="floating" src="assets/img/2106_B2FAIR_Pavillon1.png">
  </div>
  </div>



  <div id="footer-image" class="row pt-5 mt-5">

    <div id="footer-gallery" class="w-100 d-flex flex-row justify-content-center align-bottom">
      <div class="px-4 py-5">
        <a class="text-decoration-none" href="https://www.b2fair.com/" target="_blank">
          <img src="assets/img/b2fair-logo-cc.svg" style="height: 50px;" class="mt-3" />
        </a>
      </div>
      <div class="px-4 py-5">
        <a class="text-decoration-none" href="https://www.luxembourgexpo2020dubai.lu/en/" target="_blank">
          <img src="assets/img/b2fair-logo-pavillon.svg" style="height: 65px;" />
        </a>
      </div>
      <div class="px-4 py-5 my-2">
        <a class="text-decoration-none" href="https://www.tradeandinvest.lu" target="_blank">
          <img src="assets/img/b2fair-logo-tradeinvest.svg" style="height: 25px;" class="mt-3" />
        </a>
      </div>
    </div>

    <div id="footer" class="w-100 m-0 p-0" style=";">
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="index.html">
        HOME
      </a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="participation.html">
        PARTICIPATION, CONDITIONS & PROCEDURES
      </a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="programme.html">
        PROGRAMME
      </a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="partners.html">
        PARTNERS
      </a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="participants.html">
        PARTICIPANTS
      </a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="access.html" target=_blank>
        ACCESS
        THE PLATFORM</a>
      <a class="text-decoration-none d-block d-md-inline-block text-center text-black sm-float-left p-1"
        href="contact.html">
        CONTACT
      </a>
      <div class="py-1 pl-5 d-block d-lg-inline-block text-center float-right pr-2">
        &copy; Luxembourg Chamber of Commerce - All rights reserved 2021
      </div>
      <div class="clearfix" />
    </div>

  </div>



  </div>


  </div>

  <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script>
    // SMOOTH ANCHOR SCROLL
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
    // ANIMATE ON SCROLL INIT
    AOS.init();
    // MENU TOGGLER
    $('.toggleNav').on('click', function () {
      
      if ($('#overlayNav').height() > 0) {
        $('#overlayNav').css("height", "0%");
      }
      else {
        $('#overlayNav').css("height", "100%");
      }
      $('.toggleNav img').toggleClass('hidden');
      $('body').toggleClass('nav-toggled');
    });
  </script>
</body>

</html>