html, body{
    height: 100vh; width: 100vw;
    padding: 0; margin: 0;
    overflow-x: hidden;
}
body{
    background: url(sayagata-400px.png);
}
#sidemenu{
    position: fixed;
    top: 15px; left: 15px;
    width: 400px;
    height: calc(100vh - 30px);
    background: #149a77;
    z-index: -1;
    animation: sidemenu-appear 1s;
} 
@keyframes sidemenu-appear{ 
    from { left: -500px;  }
    to   { left: 15px; }
}
#sidemenu h1{
    color: white;
    font-family: sans-serif;
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
    position: fixed; 
    top: 250px;
    left: -200px;
    text-align: right; 
}
#sidemenu h2 {
    font-family: sans-serif;
    font-size: 2.5em;
    border-right: 5px solid #149a77;
    padding-right: 10px;
    width: calc( 100vw - 70px );
    text-align: right;
} 
.project a {
    background: transparent;
    color: transparent;
    text-shadow: 0 0 100px #149a77;
    padding: 5px 10px;
    font-weight: bold;
    font-style: italic; 
    text-decoration: none;
    transition: color 1s, background 1s, text-shadow 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.project.visibleProject a{
    background: #fff;
    text-shadow: 0 0 0 #149a77;
    transition: color 1s, background 1s, text-shadow 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.project a:hover {
    background: #149a77;
    text-shadow: 0 0 0 #fff;
    transition: color 1s, background 1s, text-shadow 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.project.left.visibleProject a{ 
/*
    background: #149a77;
    text-shadow: 0 0 0 #fff;
    transition: text-shadow 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
*/
}
.project{
    margin: 150px 0;
    height: 500px;
    position: relative;
}
.project h2, .project p{
    font-family: sans-serif; 
    width: calc( 100vw - 20vw);
    margin-left: 150px;
    margin-right: 0;
    color: transparent;
    text-shadow: 0 0 100px white;
    transition: text-shadow 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
} 
.project.visibleProject h2, .project.visibleProject p{
    text-shadow: 0 0 0 white;
    transition: text-shadow 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.project:before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    left: 120px;
    width: 600px;
    max-width: 100%;
    height: 110px;
    background: transparent;
    z-index: -1;
    transition: background 1s;
}
.project.visibleProject:before {
    background: #90ccbc;
    transition: background 1s;
}

@media all and (min-width:1300px){
    .project.left {
        margin: 150px 0 0 30vw;
    }    
    .project.left h2, .project.left p{
        text-align: left;
        margin-right: 10vw;
/*        color: black; */
    }
    .project.left a { 
        text-shadow: 0 0 100px #fff;
    }
    .project.left.visibleProject a{
        background: #149a77;
        text-shadow: 0 0 0 #fff;
    }    
    .project.left a:hover {
        background: #fff; 
        text-shadow: 0 0 0 #149a77;
        transition: color 1s, background 1s;
    }
}
.project h2{}
.project p{} 
.project iframe, .project .vignette, .project .tall-vignette{
    width: 1500px; 
    max-width: 140%;
    height: 750px; 
    margin: 0 0 0 150px;  
    border: 10px solid gainsboro;

    -ms-zoom: 0.75;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0; 
    -o-transform: scale(0.5); 
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    
    transition: border-color 1.5s;
    transition-delay: .5s;
}
.project.visibleProject iframe, .project.visibleProject .vignette, .project.visibleProject .tall-vignette{
    border: 10px solid #afafaf;
    transition: border-color 1.5s;
    transition-delay: .5s;
}
.project .vignette{
    background-size: 105% !important;  
    background-position: center !important;
    transition: background-size 5s ease-in;
}
@media all and (max-width:1100px){
    .project .vignette{
        height: auto; 
        padding-top: 75%;
    }
}
.project .vignette:hover{
    background-size: 125% !important;
    transition: background-size 5s ease-in;
}
.project .tall-vignette{    
    background-size: cover !important; 
    background-position: 0%;
    transition: background-position 7s ease-in;
} 
.project .tall-vignette:hover{
    background-position-Y: 100% !important;
    transition: background-position 7s ease-in;
}
.tall-vignette:after, .vignette:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gainsboro;
    opacity: 1.0;
    transition-delay: .5s;
    transition: opacity .5s;
}
.project.visibleProject .tall-vignette:after, .project.visibleProject .vignette:after {
    opacity: 0.0;
    transition: opacity .5s; 
    transition-delay: .5s;
}
.morereferences, .morereferences h2{
    color: #000;
    text-align: right;
}