/*@import url("reset.css");*/
/*@import url("vanilla.custom.css");*/
@import url("magicLine.css");

/* ****************** */
/*
    color scheme
    white           #FFFFFF
    pearl aqua      #84DCC6
    magic mint      #A5FFD6
    light salmon    #FFA69E
    pastel red      #FF686B
*/
*{
    font-family: sans-serif;
    color: #212121;
}
h1, h2, h3, h4{
	color : #212121;
    font-family: sans-serif;
}
body{
	padding:0;margin:0;
	background: #FFFFFF;
}
#body{
	top:0;bottom:0;
}
header{
	padding:0; margin:0;
	width:100%;
	height:80px;
	display:block;
}
header h1{
	margin: 0; padding: 0  0 0 50px;
	font-size: 70px;
	font-weight: 400;
	color : #212121;
    background: #84DCC6;
    font-family: sans-serif;
}
nav{
	background: #84DCC6;
	border-bottom: 2px solid #84DCC6;
	display: block;
	height: 30px;
    margin-top: -2px;
    margin-bottom: -2px;
	text-align: left;
}
nav ul{
	padding-left:40px;
}
#magic-line{
	background:#FFA69E;
}
#magicLineMenu a {
	color: #FF686B;
}
#magicLineMenu a:hover, .current_page_item a {
	color: #FFA69E;
}
#content{
	position:relative;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 10px
}
.floatingBloc{
    display: block; 
    width: 275px;
    height: 400px;
    padding: 0;
    margin: 10px;
    float: left;
    -webkit-transition: width .5s, height .5s, opacity .5s, -webkit-transform .5s;
    transition: width .5s, height .5s, opacity .5s, -webkit-transform .5s;
    transition: width .5s, height .5s, opacity .5s, transform .5s;
    transition: width .5s, height .5s, opacity .5s, transform .5s, -webkit-transform .5s;
}
footer{
	display: block;
	height: 65px;
    padding: 0; margin: 0;
    background: #84DCC6;
}
