@font-face {
  font-family: 'HelveticaNeueLTPro-Blk';
  src: url('../fonts/HelveticaNeueLTPro-Blk.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTPro-Blk.otf')  format('opentype'),
       url('../fonts/HelveticaNeueLTPro-Blk.woff') format('woff'),
       url('../fonts/HelveticaNeueLTPro-Blk.ttf')  format('truetype'),
       url('../fonts/HelveticaNeueLTPro-Blk.svg#HelveticaNeueLTPro-Blk') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'jaapokkiregularregular';
    src: url('../fonts/jaapokki-regular-webfont.eot');
    src: url('../fonts/jaapokki-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jaapokki-regular-webfont.woff2') format('woff2'),
         url('../fonts/jaapokki-regular-webfont.woff') format('woff'),
         url('../fonts/jaapokki-regular-webfont.ttf') format('truetype'),
         url('../fonts/jaapokki-regular-webfont.svg#jaapokkiregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
    ORANGE: #F26F21
    GREEN:  #049775
*/
html,
body { 
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    position: relative;
}
*{
    font-family: 'open_sansregular';
    color: #171717;
}
body.mobile p{
    font-size: 15px;
}

h1,
h2,
h3 {
    font-weight: 100;
}

h1 {
    font-size: 40px;
    margin-top: 70px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

::-moz-selection {
    background: #319C72;
}

::selection {
    background: #319C72;
}
ul{
    text-align: left;
    margin-left: 10px;
}
ul li {
  list-style-image: url(../img/fleche_low.png);
  margin: 5px;
  padding-left: 10px;
}

p{
    font-size: 19px;
}
/* LO-RES */
@media screen and (max-width : 800px), screen and (max-height : 840px){
    p{
        font-size: 15px;
    }
}
/* **************
 *	CONTENT		*
 ************** */

.contentBlock {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
}
/* LO-RES */
@media screen and (max-width : 1400px){
    .innerContainer{
        display: block;
        width: 950px;
        margin:0 auto;
    }
}
/* HI-RES */
@media screen and (min-width : 1400px){
    .innerContainer{
        display: block;
        width: 1400px;
        margin:0 auto;
    }
}

body.mobile .innerContainer{
	display: block;
	width: 90%;
	margin:0 auto;
}

#home {
    overflow: visible;
}
/* **********************
	ACCUEIL
********************** */

body.bodyLoaded #preload {
    opacity: 0.0;
}

#home {
    text-align: center;
    z-index: 10;
    background: url(../img/background_cuicui.jpg) no-repeat;
    background-size: cover;
    background-position-y: 100%;
}

#home::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(255, 255, 255, 0.59);*/
}

#home header {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

#home header div {
  width: 100%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#home header #logo {
  width: auto;
  height: 700px;
  max-height: 70%;
}
body.mobile #home header #logo {
  width: auto;
  height: 700px;
  max-height: 60%;
}

#home h1 {
    font-size: 125px;
    font-family: 'story_brush_slantedregular';
    letter-spacing: -5px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-transition: opacity 1s;
    -ie-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0.0;
}

#home h1 {
    opacity: 1.0;
}

#calligraphie {
    max-width: 80%;
}

#slogan {
    max-width: 80%;
}
#scrolldown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    color: #4a4340;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.0;
}
@media screen and (max-width: 800px){
    display: none;
}
.bodyLoaded #scrolldown {
    opacity: 0.9;
    -webkit-transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    transition: opacity 3s ease-in;
}
#scrollarrow{
    font-size: 100px;
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
/*
    -webkit-transform: rotate(90deg) scale(2.0) translateY(-10px);
    -moz-transform: rotate(90deg) scale(2.0) translateY(-10px);
    transform: rotate(90deg) scale(2.0) translateY(-10px);
*/
    -webkit-animation: 4s scrollarr ease-out infinite;
    -moz-animation: 4s scrollarr ease-out infinite;
    animation: 4s scrollarr ease-out infinite;
}
#scrollarrow:hover{ cursor:pointer; }
@keyframes scrollarr{
    0% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
    50% { transform: rotate(90deg) translateY(-10px) translateX(5px); opacity: .9; }
    100% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
}
@-webkit-keyframes scrollarr{
    0% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
    50% { transform: rotate(90deg) translateY(-10px) translateX(5px); opacity: .9; }
    100% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
}
@-moz-keyframes scrollarr{
    0% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
    50% { transform: rotate(90deg) translateY(-10px) translateX(5px); opacity: .9; }
    100% { transform: rotate(90deg) translateY(-10px) translateX(0px); opacity: 0.6; }
}
/* **********************

	NAVIGATION

 ********************** */
/*nav #mobileMenu{		display:none;			}*/

nav #desktopMenu {
    display: block;
    height: 100%;
    position: relative;
}
nav #mobileMenu {
    display: none;
    height: 100%;
    position: relative;
}
nav #mobileMenu select{
    float: right;
    height: 50px;
    width: 50px;
    position: relative;
    background: url(../img/menu.png) no-repeat;
    background-size: contain;
    margin-left: -5px;
    padding-left: 80px;
    margin-right: -30px;
    border: none;
}
/* LO-RES */
@media screen and (max-width: 800px) {    
    nav #desktopMenu {
        display: none;
    }    
    nav #mobileMenu {
        display: block;
    }
}

/*.mobile nav #mobileMenu{		display:inline-block;	}

	.mobile nav #desktopMenu{		display:none;			}

	.mobile nav #mobileMenu{ float:right; }

	.mobile nav #mobileMenu select{   width: 40px;  height: 40px; margin:5px; }

	.mobile nav #mobileMenu #menuCalliMobile{   margin: 0; width: 70%;  float: left; }*/

nav {
    height: 50px;
    width: 100%;
    z-index: 100;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    text-align: center;
    background: transparent;
    background: #ffffff;
}

nav #menuCalli {
    display: inline-block;
    position: relative;
    float: left;
    height: 30px;
    margin: 10px 0 0 -250px;
    -webkit-transition: margin .5s;
    -ie-transition: margin .5s;
    transition: margin .5s;
    margin: 9px -191px 0 10px;
}

nav ul {
    display: inline-block;
    float: right;
    margin: 0;
    height: 100%;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 130px;
    position: relative;
    height: 100%;
    overflow: hidden;
    float: left;
}

nav ul li a {
    width: 100%;
    height: 200%;
    color: #101010;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'open_sansregular';
    font-weight: normal;
    letter-spacing: 1px;
      text-align: center;
}

nav ul li a span.menuText,
nav ul li a span.secondMenu {
    text-transform: uppercase;
}

nav .navigationLink:hover,
nav #calliLink:hover {
    cursor: pointer;
}

nav ul li a:hover span.secondMenu {
    top: 47px;
}

nav ul li a.activeMenu span.secondMenu {
    top: 0px;
}

nav ul li a span {
    width: 100%;
    height: 35px;
    padding-top: 15px;
    display: inline-block;
    -webkit-transition: top .5s;
    transition: top .5s;
}

nav ul li a span.menuText {
    background: #fff;
}

nav ul li a span.secondMenu {
    background: #f36f21;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: -20px;
    top: 50px;
    left: 0;
}
/* **********************
	WHO ARE WE ??
 ********************** */

#whoarewe {
    /*background: url('../img/background_team.jpg') no-repeat;
    background-size: cover;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7dedc+0,e6d2be+100 */
    background: rgb(215,222,220); /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(215,222,220,1) 0%,rgba(230,210,190,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(215,222,220,1) 0%,rgba(230,210,190,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dedc', endColorstr='#e6d2be',GradientType=0 ); /* IE6-9 */

}
#whoarewe .subContainer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
#whoarewe .sidePanel {
    position: absolute;
    width: 50%;
    height: 100%;
    margin-top: 0;
    padding-top: 50px;
    display: table;
}
body.mobile #whoarewe .sidePanel {
    display: block;
    position: relative;
    width: 90%;
    height: 35%;
	margin: 0 auto;
    padding-top: 25px;
}
#whoarewe #sideLeft {
    top: 0;
    left: 0;
}
#whoarewe #sideRight {
    top: 0;
    right: 0;
    left: 50%;
}
body.mobile #whoarewe #sideRight {
    left: 0;
}
#whoarewe .teamMember {
    display: table-cell;
    vertical-align: middle;
}
body.mobile #whoarewe .teamMember {
    display: block;
}
#whoarewe #sideLeft .teamMember {
    padding-left: 20%;
}
#whoarewe #sideRight .teamMember {
    padding-right: 20%;
}
body.mobile #whoarewe #sideLeft .teamMember,
body.mobile #whoarewe #sideRight .teamMember {
	padding: 0;
}
#whoarewe .teamMember .teamPicture {
	display: block;
    width:60%;
    padding-top:60%;
    /*height:auto;*/
    border-radius: 100%;
    margin: 0 auto;
    -webkit-transition: width 1s, height 1s, border-radius 1s, margin 1s, padding 1s;
    transition: width 1s, height 1s, border-radius 1s, margin 1s, padding 1s;
	overflow: hidden;
}
body.mobile #whoarewe .teamMember .teamPicture {
    width: 30%;
    padding-top: 30%;
}
#whoarewe .teamMember .teamPicture:hover{
    cursor: pointer;
}
#whoarewe .teamMember.selectedTM .teamPicture {
    width:45%;
    padding-top:45%;
}
#whoarewe .teamMember #jasonPict.teamPicture {
	background: url(../img/jason.jpg) no-repeat;
	background-size: cover;
    border: 5px solid #F26F21;
}
/*#whoarewe .teamMember.selectedTM #jasonPict.teamPicture {
	background: url(../img/jason.jpg) no-repeat;
	background-size: cover;
    margin: -200px auto;
}*/
#whoarewe .teamMember #mickPict.teamPicture {
	background: url(../img/mike.jpg) no-repeat;
	background-size: cover;
    border: 5px solid #049775;
}
/*#whoarewe .teamMember.selectedTM #mickPict.teamPicture {
	background: url(../img/mike.jpg) no-repeat;
	background-size: cover;
    margin: -200px auto;
}*/
#whoarewe .teamMember .teamName {
    font-family: 'jaapokkiregularregular';
    font-size: 25px;
    margin-top: 20px;
}
body.mobile #whoarewe .teamMember .teamName {
    font-size: 18px;
    margin-top: 8px;
}
#whoarewe #jasonMember.teamMember .teamName {
    font-family: 'jaapokkiregularregular';
    text-shadow: 1px 1px 0 #F26F21;
}
#whoarewe #mickMember.teamMember .teamName {
    font-family: 'jaapokkiregularregular';
    text-shadow: 1px 1px 0 #049775;
}
#whoarewe .teamMember .teamRole {
    font-family: 'jaapokkiregularregular';
    display: inline-block;
    position: relative;
    z-index: 10;
    opacity: 0.0;
    height: 0;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: opacity 1s, height 1s;
    transition: opacity 1s, height 1s;
}
#whoarewe .teamMember.selectedTM .teamRole,
body.mobile #whoarewe .teamMember .teamRole {
    opacity: 1.0;
    height: auto;
}
#whoarewe .teamMember .teamRole:before,#whoarewe .teamMember .teamRole:after {
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    height: 10%;
    width: 40px;
}
#whoarewe .teamMember .teamRole:before {
    left: -45px;    
}
#whoarewe .teamMember .teamRole:after {
    right: -45px;
}
#whoarewe #jasonMember.teamMember .teamRole:before,#whoarewe #jasonMember.teamMember .teamRole:after {
    background: #049775;
}
#whoarewe #mickMember.teamMember .teamRole:before,#whoarewe #mickMember.teamMember .teamRole:after {
    background: #F26F21;
}
#whoarewe .teamMember .teamDescr {
    overflow: hidden;
    margin: 0 auto 5px;
    width:60%; 
    height: 2px;
    background: rgba(255,255,255,0.0);
    -webkit-transition: opacity 1s, background 1s, opacity 1s, height 1s;
    transition: opacity 1s, background 1s, opacity 1s, height 1s;
    padding-bottom: 0;
    padding-left: 8px;
    position: relative;
    font-family: 'jaapokkiregularregular';
    text-align: left;
}
body.mobile #whoarewe .teamMember .teamDescr {
	display: none;
}
/*#whoarewe .teamMember .teamDescr:after {
    content: '';
    display: block;
    width: 30%; 
    background: black;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 35%;
}*/
#whoarewe .teamMember.selectedTM .teamDescr {
    opacity: 1.0;
    margin: 0 auto 0;
    padding-bottom: 8px;
    padding-left: 8px;
    overflow: hidden;
    height: 130px;
    background: rgba(255,255,255,0.4);
}
#whoarewe .teamMember .teamDescr p{
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}
/* LO-RES */
@media screen and (max-width : 1400px) { 
    #whoarewe .teamMember .teamDescr p {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom:6px;
        font-weight: bold;
    }
}
body.desktop #whoarewe .teamMember .teamLinks {
    -webkit-transition: margin 1s;
    transition: margin 1s;
    margin-top: -2px;
    display: inline-block;
    border-top: 2px solid black;
    padding: 15px 5px;
}
#whoarewe .teamIcon {
    width: 30px;
    height: 30px;
    display: inline-block;
}
#whoarewe .teamIcon.linkedinorange {
    background: url(../img/linkedin-orange.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.linkedinorange:hover {
    background: url(../img/linkedin-orange_hover.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.linkedingreen {
    background: url(../img/linkedin-emeraude.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.linkedingreen:hover {
    background: url(../img/linkedin-emeraude_hover.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.mailgreen {
    background: url(../img/mail-emeraude.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.mailgreen:hover {
    background: url(../img/mail-emeraude_hover.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.mailorange {
    background: url(../img/mail-orange.svg) no-repeat;
    background-size: cover;
}
#whoarewe .teamIcon.mailorange:hover {
    background: url(../img/mail-orange_hover.svg) no-repeat;
    background-size: cover;
}


/* **********************
	OUR WORKS AND SERVICES
 ********************** */
#work {
    background: #069775;
    -webkit-perspective: 1500;
    -ie-perspective: 1500;
    -o-perspective: 1500;
    perspective: 1500;
    padding-top: 50px;
}
body.mobile #work{
  padding-top: 50px;
}
.tilesContainer {
    width: 100%;
    height: calc(100% - 50px);
    margin: 0;
    background: #069775;
    position: relative;
}
.tile {
    position: relative;
    overflow: hidden;
}
/* LO-RES */
@media screen and (max-width : 800px){
    .tile {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        position: relative;
        display: inline-block;
    }
}
/* HI-RES */
@media screen and (min-width : 800px){
    .tile{
        width: 100%;
        height: calc(50% - 5px);
        position: relative;
    }
}
body.mobile .tile{
	height: calc(49% - 0px);
}
#work .owl-item{
	display: inline-block;
	width: 200px !important;
}
#work .owl-stage{
	width: calc(220px * 4) !important;
}
.tile h3 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    font-family: 'jaapokkiregularregular';
    color: #EBF2F0;
    background: #069775;
    display: inline-block;
    z-index: 100;
    margin: 0;
    padding: 0px 16px 0px 24px;
    text-transform: uppercase;
}
body.mobile .tile h3 {
	font-size: 13px;
}
.tile h3:before {
    content: '';
    display: block;
    width: 90px;
    height: 55px;
    background: #069775;
    position: absolute;
    left: -65px;
    top: 21px;
    -webkit-transform: rotate(-36deg);
    transform: rotate(-36deg);
}
.tile{
    border-bottom: 5px solid #069775;
}
body.desktop #web {
    position: relative;    
    background: url(../img/serviceweb.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
body.mobile #web {
    position: relative;    
    background: url(../img/servicewebnb.jpg) no-repeat;
    background-size: cover;
}
body.desktop #web::before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/serviceweb.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: background 1s, -webkit-transform 1s;
    transition: background 1s, -webkit-transform 1s;
    transition: background 1s, transform 1s;
    transition: background 1s, transform 1s, -webkit-transform 1s;
}
body.desktop #web:hover::before {
    background: url(../img/servicewebnb.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: background 1s, -webkit-transform 35s linear;
    transition: background 1s, -webkit-transform 35s linear;
    transition: background 1s, transform 35s linear;
    transition: background 1s, transform 35s linear, -webkit-transform 35s linear;
}
body.desktop #bcard {
    position: relative;
        background: url(../img/servicebusinesscard.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}
body.mobile #bcard {
    position: relative;
    background: url(../img/servicebusinesscardnb.jpg) no-repeat;
    background-size: cover;
	margin-top: -2px;
}
body.desktop #bcard::before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/servicebusinesscard.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: background 1s, -webkit-transform 1s;
    transition: background 1s, -webkit-transform 1s;
    transition: background 1s, transform 1s;
    transition: background 1s, transform 1s, -webkit-transform 1s;
}
body.desktop #bcard:hover::before {
    background: url(../img/servicebusinesscardnb.jpg) no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: background 1s, -webkit-transform 35s linear;
    transition: background 1s, -webkit-transform 35s linear;
    transition: background 1s, transform 35s linear;
    transition: background 1s, transform 35s linear, -webkit-transform 35s linear;
}
.tile .tileContent {
    /*margin:0 auto;*/
    /*text-align: center;*/
    vertical-align: middle;
    display: table-cell;
}
body.mobile .tile .tileContent {
    height: 100%;
}
.tile .tileContent .tileContentBlock {
    display: block;
    width: 200px;
    height: 200px;
}
body.desktop .tile .tileContent .tileContentBlock {
    display: inline-block;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 20px;
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}
@media screen and (min-width:1500px) {
    body.desktop .tile .tileContent .tileContentBlock {
        margin: 10px 80px;
    }
}
body.desktop .tile .tileContent .tileContentBlock.fakeContentBlock {
    display: none;
}
body.desktop .tile:hover .tileContent .tileContentBlock {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.39, 1.03, .75, 1.17);
    transition: -webkit-transform .5s cubic-bezier(.39, 1.03, .75, 1.17);
    transition: transform .5s cubic-bezier(.39, 1.03, .75, 1.17);
    transition: transform .5s cubic-bezier(.39, 1.03, .75, 1.17), -webkit-transform .5s cubic-bezier(.39, 1.03, .75, 1.17);
}
.tile .tileContent .tileContentBlock .fa {
    font-size: 125px;
    display: block;
    margin-bottom: 20px;
}

/* **********************
	MODAL WINDOW
********************** */
#modal {
    position: fixed;
    display: block;
    z-index: 100;
    width: 100%;
    height: calc( 100% - 50px );
    margin-top: 50px;
    background: none;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    margin-left: 0%;
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}
#modal.visible {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
#modal:hover {
	cursor: crosshair;
}
#modal #modalImg {
    width: 100%;
    height: 70%;
    background: url() no-repeat;
    background-size: contain;
    background-position-x: 50%;
    position: absolute;
    top: 0; left: 0;
    margin-top: -70%;
    -webkit-transition: margin-top .5s;
    transition: margin-top .5s;
}
.mobile #modal #modalImg {
    height: 50%;
    margin-top: -50%;
}
#modal.visible #modalImg, .mobile #modal.visible #modalImg {
    margin-top: 0;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;
}
#modal #modalContent {
    position: absolute; 
    top: 70%; left: 0;
    width: 100%; height: 30%;
    margin: 0; padding: 0;
    margin-top: 30%;
    -webkit-transition: margin-top .5s;
    transition: margin-top .5s;
    background: #fff;
}
.mobile #modal #modalContent {
    top: 50%; height: 50%;
    margin-top: 50%;
}
#modal.visible #modalContent, .mobile #modal.visible #modalContent {
    margin-top: 0;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;
}
#modalTitle{
	font-size: 40px;
    margin-top: 20px;
    padding: 5px 20px 0px;
    font-family: 'jaapokkiregularregular';
    color: #000000;
}
.mobile #modalTitle{
	font-size: 25px;
    margin-top: 5px;
}
#modalDesc {
    padding: 0 50px;
	font-size: 18px;
}
.mobile #modalDesc {
    padding: 0 30px;
	font-size: 13px;
}

/* **********************
	PORTFOLIO
 ********************** */

#portfolio {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7dedc+0,e6d2be+100 */
/*
    background: rgb(215,222,220); 
    background: -webkit-linear-gradient(top,  rgba(215,222,220,1) 0%,rgba(230,210,190,1) 100%);
    background: linear-gradient(to bottom,  rgba(215,222,220,1) 0%,rgba(230,210,190,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dedc', endColorstr='#e6d2be',GradientType=0 ); 
*/
    text-align: left;
    display: table;
}
#portfolio .projectTileContainer {
/*	display: inline-block;*/
/*    height: 400px;*/
    display: table-cell;
    height: 50%;
	width: 33.333333%;  
	padding: 0;
    margin: 0; 
	float: left;
	overflow: hidden;
	position: relative;
}
.mobile #portfolio .projectTileContainer {
	width: 100%;  
}
#portfolio .projectTileContainer:hover {
	cursor: pointer; 
}
#portfolio .projectTileContainer .projectTile  {
	display: block; margin: 0; padding: 0;
	width: 100%; height: 100%; margin-top: -19px;
}
#portfolio #portfoliospacer {
    display: block;
    height: 50px;
    width: 100%;
    background: black;
}
#portfolio .projectTileContainer .GrayBackground  {
	display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
}
#portfolio .projectTileContainer:hover .GrayBackground  {
    opacity: 1.0;
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
}
#portfolio .projectTileContainer .projectTile#marchedecouverte  {
	background: url("../img/march%C3%A9_d%C3%A9couverte_gray.jpg") no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer #marchedecouverteGrayBackground  {
	background: url("../img/march%C3%A9_d%C3%A9couverte.jpg") no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTile#businesscardv2  {
	background: url("../img/carte_de_visite_twocan_gray.jpg") no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer #businesscardv2GrayBackground  {
	background: url("../img/carte_de_visite_twocan.jpg") no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTile#plume  {
	background: url(../img/plume_gray.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer #plumeGrayBackground  {
	background: url(../img/plume.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTile#pokemongo  {
	background: url(../img/pokemongo_gray.jpg) no-repeat; 
	background-size: cover;
}
#portfolio .projectTileContainer #pokemongoGrayBackground  {
	background: url(../img/pokemongo.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTile#vortex  {
	background: url(../img/vortex_plume_gray.jpg) no-repeat;
	background-size: cover; 
}
#portfolio .projectTileContainer #vortexGrayBackground  {
	background: url(../img/vortex_plume.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTile#citronnelle  {
	background: url(../img/citronnelle_gray.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer #citronnelleGrayBackground  {
	background: url(../img/citronnelle.jpg) no-repeat;
	background-size: cover;
}
#portfolio .projectTileContainer .projectTitle {
	position: absolute;
    font-family: 'jaapokkiregularregular';
    color: #EBF2F0;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 3px 3px 15px black,-3px 3px 15px black,3px -3px 15px black,-3px 3px 15px black; 
    opacity: 0.0;
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
}
.mobile #portfolio .projectTileContainer .projectTitle {
    top: 20%;
}
#portfolio .projectTileContainer:hover .projectTitle, .mobile #portfolio .projectTileContainer .projectTitle {
	opacity: 0.9; 
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
}
#portfolio .projectTileContainer .projectDesc {
	visibility: hidden;
}

/* **********************
	CONTACT US
********************** */
#contact {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007055+0,069775+100 */
background: rgb(0,112,85); /* Old browsers */ /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(0,112,85,1) 0%,rgba(6,151,117,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(0,112,85,1) 0%,rgba(6,151,117,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007055', endColorstr='#069775',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /*background: #069775;*/
    /*background: url(../img/cup.svg) no-repeat,#069775;
    background-size: 15%;
    background-position: 95% 15%;*/
    text-align: left;
    display: table;
}
#contact h1 {
    background: url(../img/cupv2.svg) no-repeat;
    background-size: contain;
    background-position: 100%;
}
#contact h1 span{
    color: #EBF2F0;
    text-shadow: 1px 1px #000000;
    margin: 190px 0 100px;
    font-family: 'jaapokkiregularregular';
    display: block;
    margin: 0;
}
/* LO-RES */
@media screen and (max-width : 1400px) and (max-height : 840px){ 
    #contact h1 span#contentTitleLine1{
        padding-top: 0px;
        font-size: 78px;
    }
    #contact h1 span#contentTitleLine2{
        margin-top: -20px;
        font-size: 40px;
    }
}
/* HI-RES */
@media screen and (min-width : 1400px) {
    #contact h1 span#contentTitleLine1{
        padding-top: 30px;
        font-size: 110px;
    }
    #contact h1 span#contentTitleLine2{
        margin-top: -30px;
        font-size: 80px;
    }
    #contactTeam{
        margin-top: 60px;
    }
}
/* HI-RES */
@media screen and (min-width : 1400px) and (max-height : 800px){
    #contact h1 span#contentTitleLine1{
        padding-top: 20px;
        font-size: 95px;
    }
    #contact h1 span#contentTitleLine2{
        margin-top: -20px;
        font-size: 65px;
    }
    #contactTeam{
        margin-top: 54px;
    }
}
body.mobile #contact h1 span#contentTitleLine1{
	padding-top: 20px;
	font-size: 27px;
}
body.mobile #contact h1 span#contentTitleLine2{
	margin-top: 0px;
	font-size: 24px;
}
#contactTeam{
    display: block;
    width: 100%;
    /*margin: 20px;*/
}
body.mobile #contactTeam{
	margin-top: 35px;
}
#contactTeam .teamMember{
    display: inline-block;
    width: 45%;
    /*margin: 0;
    padding: 0;*/
}
body.mobile #contactTeam .teamMember{
	margin: 30px auto 40px;
	width: 100%;
}
#contactTeam .teamMember.leftTeam {
    text-align: right;
    float: left;
}
#contactTeam .teamMember.rightTeam {
    text-align: left;
    float: right;
}
body.mobile #contactTeam .teamMember.leftTeam,
body.mobile #contactTeam .teamMember.rightTeam {
	text-align: center;
	float: left;
}
#contactTeam p{
    color: #EBF2F0;
    margin: 0px;
}
#contactTeam .teamMember.leftTeam p{
    padding-right: 40px;
}
body.mobile #contactTeam .teamMember.leftTeam p{
    padding-right: 0px;
}
#contactTeam .teamMember.rightTeam p{
    padding-left: 40px;
}
body.mobile #contactTeam .teamMember.rightTeam p{
    padding-left: 0px;
}
#contactTeam .teamSpecs{
    font-weight: bolder;
    font-family: 'HelveticaNeueLTPro-Blk';
    position: relative;
}
#contactTeam .teamSpecs:before{
    content:'';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}
body.mobile #contactTeam .teamSpecs:before{
    width: 35px;
    height: 35px;
}
#contactTeam .jasonTM:before{
    content:'';
    left: -0px;
    background: url(../img/dev_iconv2.svg) no-repeat;
    background-size: contain;
}
#contactTeam .mickaelTM:before{ 
    content:'';
    right: 0px;
    background: url(../img/graphic_iconv2.svg) no-repeat;
    background-size: contain;
}
body.mobile #contactTeam .jasonTM:before,
body.mobile #contactTeam .mickaelTM:before{
    content:'';
    left: 45%;
	top: -45px;
}
#contactTeam .teamMember:hover .teamSpecs:before{
    -webkit-transform: rotate(-25deg) scale(1.1);
    transform: rotate(-25deg) scale(1.1);
}
/*
#contactTeam .mickaelTM{
    background: url(../img/graphic_iconv2.svg) no-repeat;
    background-size: contain;
    background-position: 100%;
}
*/
#contactTeam .teamContact{}
#contactTeam .teamContact a{
    text-decoration: none;
    color: #EBF2F0;
    font-weight: bold;
}
.contactForm{
    display: block;
    width: 45%;
    margin: 0;
    padding: 0;
}
/* HI-RES */
@media screen and (min-width : 1400px) and (min-height : 840px){
    .contactForm{
        margin-top: 35px;
    }
}
body.mobile .contactForm{
    display: none;
}
.contactForm.leftForm{
    float: left;
}
.contactForm.rightForm{
    float: right;
}
.customInput, .customButton {
    width: 100%;
    height: 50px;
    background: #78C4B2;
    margin: 15px 0;
    position: relative;
}
.customInput .inputField {
    height: 100%;
    width: 64%;
    border: 0;
    margin: 0;
    padding: 0 0 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    font-size: 25px;
    font-family: sans-serif;
    color: #F26F21;
    background: #EBF2F0;
    font-family: 'jaapokkiregularregular';
    -webkit-transition: background 1s ease;
    -ie-transition: background 1s ease;
    transition: background 1s ease;
    resize: none;
}
.customInput .inputField:focus {
    background: #DAEFF5;
}
.customInput .inputDecoration {
    height: 100%;
    width: 96%;
    margin: 0;
    padding: 0;
    padding-left: 4%;
    border: 0;
    background: #78C4B2;
    color: #EBF2F0;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    font-family: 'jaapokkiregularregular';
    font-size: 25px;
    text-align: left;
    -webkit-transition: width .5s ease;
    -ie-transition: width .5s ease;
    transition: width .5s ease;
}
.customInput .inputDecoration:hover {
    background: #68baa7;
}
.customButton {
    width: 34%;
    text-align: left;
    color: #EBF2F0;
    font-family: 'jaapokkiregularregular';
    font-size: 25px;
    float: right;
    border: 0;
    margin: 0;
    padding: 0;
    padding-left: 4%;
}
.customButton:hover{
    cursor: pointer;
    background: #fa9a61;
}
.customButton:active{
    cursor: pointer;
    background: #F26F21;
}
.customInput .messageInputDecoration {
    height: 50px;
    width: 30%;
    margin: 0;
    padding: 0;
    padding-left: 4%;
    border: 0;
    background: #78C4B2;
    color: #EBF2F0;
    line-height: 50px;
    position: absolute;
    font-family: 'jaapokkiregularregular';
    font-size: 25px;
    text-align: left;
}
.rightForm .customInput{
    background: none;
}
.customInput.inputText .inputField {
    height: 195px;
    width: 100%;
    /*padding: 10px;*/
    top: 100%;
}

.customInput .inputDecoration:hover {
    cursor: text;
}

.customInput .inputDecoration.active {
    width: 30%;
}
/* *********************
    FOOTER
 ********************* */
#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #EBF2F0;
    /*display: table;*/
}
body.mobile #footer{
	
}
#footer div{
    /*display: table-cell;
    vertical-align: center;*/
    /*height: 80%;*/
    /*background: url(../img/madewithlove.svg) no-repeat;
    background-size: contain;
    background-position: right;*/
    position: relative;
}
#socialBtns{
    display: inline-block;
}
#socialBtns a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
}
#socialBtns a:hover{
    cursor:pointer;
}
#socialBtns a.Behance{
    background: url(../img/behance_iconv2.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.Behance:hover{
    background: url(../img/behancesurvol_iconv2.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.LinkedIn{
    background: url(../img/linkedin-orange.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.LinkedIn:hover{
    background: url(../img/linkedin-orange_hover.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.Twitter{
    background: url(../img/twitter_iconv2.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.Twitter:hover{
    background: url(../img/twittersurvol_iconv2.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.Facebook{
    background: url(../img/facebook_iconv2.svg) no-repeat;
    background-size: cover;
}
#socialBtns a.Facebook:hover{
    background: url(../img/facebooksurvol_iconv2.svg) no-repeat;
    background-size: cover;
}
#footer .madeBy{
    position: relative;
    float: right;
    display: inline-block;
    width: 125px;
    height: 50px;
    background: url(../img/madewithlove.svg) no-repeat;
    background-size: 80%;
    background-position: center right;
}
.tileContent .tileContentBlock .tileIcon {
    width: auto;
    height: 150px;
}

.tileContent .tileContentBlock .tileTitle {
    background: url(../img/cadre%20orange%20avec%20coin%20blanc.svg) no-repeat;
    background-size: 100%;
    line-height: 35px;
    width: 100%;
    margin: 5px 0;
    color: #EAEAEA;
    font-family: 'jaapokkiregularregular';
    text-transform: uppercase;
    font-size: 15px;
}
.tileContent .tileContentBlock .tileDesc {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EAEAEA;
    font-family: 'open_sansregular';
    font-size: 13px;
    text-align: center;
    padding: 3px;
}
body.mobile .tileContent .tileContentBlock .tileDesc {
	display: none;
}
/* LO-RES */
@media screen and (max-width : 1400px) { 
    .tileContent .tileContentBlock .tileTitle {
        font-size: 13px;
    }
    .tileContent .tileContentBlock .tileDesc {
        font-size: 11px;
    }
}

.tileContentWrapper {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tileContentBlockWrapper {
    width: 1050px;
    height: 275px;
    margin:0 auto
}
@media screen and (min-width:1500px) {
    .tileContentBlockWrapper {
        width: 1500px;
    }
}
.errorContainer {
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 100%;
}
.errorContainer .error {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 40px;
    text-align: right;
    color: #F26F21;
    font-family: 'jaapokkiregularregular';
    font-style: italic;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
}
.errorContainer .error {

}
.errorContainer .error.errorActive {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: transform .2s cubic-bezier(.16, .86, .6, 1.39), -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
