<div class="row">

    <div class="d-flex flex-row m-2 p-2">
      <div class="m-3 d-none d-sm-block">
        <a class="text-decoration-none" href="https://www.cc.lu/accueil/" target="_blank">
          <img src="assets/img/b2fair-logo-cc.svg" style="height: 50px" />
        </a>
      </div>
      <div class="m-3 d-none d-sm-block">
        <a class="text-decoration-none" href="https://een.ec.europa.eu/" target="_blank">
          <img src="assets/img/b2fair-logo-een.svg" style="height: 50px" />
        </a>
      </div>
      <div class="m-3 d-none d-md-block">
        <a class="text-decoration-none" href="https://www.b2fair.com/" target="_blank">
          <img src="assets/img/b2fair-logo-b2fair.svg" style="height: 40px" />
        </a>
      </div>
      <div class="m-3">
        <a class="text-decoration-none"
          href="https://www.expo2020dubai.com/en/understanding-expo/participants/country-pavilions/luxembourg"
          target="_blank">
          <img src="assets/img/EXPO Official Country Participant Logo.png" style="height: 50px" />
        </a>
      </div>
    </div>

    <div class="position-absolute toggleNav" style="">
      <img class="" src="assets/img/b2fair-menu-burger.svg" style="width: 50px;" />
      <img class="hidden" src="assets/img/b2fair-menu-fermeture.svg" style="width: 50px; margin-right: 5px;" />
    </div>

    <div class="position-absolute d-flex flex-column" style="top: 32px; right: 30px;">
      <a class="text-decoration-none" href="https://twitter.com/b2fair" target="_blank"><img
          src="assets/img/b2fair-Twitter-NOIR_Plan de travail 1.svg"
          style="padding: 5px; width: 30px; height: 30px;" /></a>
      <a class="text-decoration-none" href="https://www.facebook.com/b2fair/" target="_blank">
        <img src="assets/img/b2fair-Facebook-NOIR_Plan de travail 1.svg"
          style="padding: 5px; width: 30px; height: 30px;" /></a>
      <a class="text-decoration-none"
        href="https://www.linkedin.com/in/b2fair-international-business-cooperation-36040822/?originalSubdomain=lu"
        target="_blank">
        <img src="assets/img/b2fair-Linkedin-NOIR_Plan de travail 1.svg"
          style="padding: 5px; width: 30px; height: 30px;" /></a>
    </div>

  </div>