
<head>
    <sergey-slot name="page-title">
        <title>My default title</title>
    </sergey-slot>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
  
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link href="assets/css/aos.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>