
  <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script>
    // SMOOTH ANCHOR SCROLL
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
    // ANIMATE ON SCROLL INIT
    AOS.init();
    // MENU TOGGLER
    $('.toggleNav').on('click', function () {
      
      if ($('#overlayNav').height() > 0) {
        $('#overlayNav').css("height", "0%");
      }
      else {
        $('#overlayNav').css("height", "100%");
      }
      $('.toggleNav img').toggleClass('hidden');
      $('body').toggleClass('nav-toggled');
    });
  </script>