/* COLOR SCHEME
    red         #E30613
    blue        #003399
    lightblue   #009FE3
    yellow      #FFCC00
*/
@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Medium.woff2") format("woff2"), url("../fonts/Gotham-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Bauer";
    src: url("../fonts/BauerBodoniStd-Bold.woff2") format("woff2"), url("../fonts/BauerBodoniStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.text-white {
    color: #FFFFFF;
}

.text-black {
    color: #000000;
}

.text-red {
    color: #E30613;
}

.text-blue {
    color: #003399;
}

.text-lightblue {
    color: #009FE3;
}

.text-yellow {
    color: #FFCC00;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-black {
    background-color: #000000;
}

.bg-red {
    background-color: #E30613;
}

.bg-blue {
    background-color: #003399;
}

.bg-lightblue {
    background-color: #009FE3;
}

.bg-extralightblue {
    background-color: #E6EBF5;
}

.bg-yellow {
    background-color: #FFCC00;
}

.hidden {
    display: none !important;
}

.text-muted {
    color: lightgray !important;
}

*,
.font-sans-serif {
    font-family: Gotham, "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

.font-sans-serif-bold {
    font-family: Gotham, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.font-bauer {
    font-family: "Bauer";
    font-weight: 700;
}

/* .font-serif {
    font-family: serif;
} */
/* 
.font-sans-serif {
    font-family: sans-serif;
} */

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.side-img {}

.side-img img {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.floating {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.floating-delay-1 {
    animation-delay: .5s;
}

.floating-delay-2 {
    animation-delay: 1s;
}

body {
    background: url(../img/2106_B2FAIR_Header-1920.png) no-repeat;
    background-size: auto;
    background-position: top center;
    overflow-x: hidden;
}

.row-max-width {
    max-width: 1600px;
}

#footer-image {
    background: url(../img/b2fair-footer-dubai-1920.svg) no-repeat;
    background-size: contain;
    background-position: top center;
}

#footer-gallery {
    padding-top: 600px
}

#header {
    height: 805px;
}

#content-first-block {
    margin-top: 150px;
}


/* TEXT SIZING */
p {
    font-size: 16px !important;
}

#footer a {
    text-decoration: none;
    color: black;
    font-size: 12px
}

#footer a:hover {
    text-decoration: underline;
}


.heading-60px {
    font-size: 60px !important;
}

.heading-40px {
    font-size: 40px !important;
}

.heading-30px {
    font-size: 30px !important;
}

.heading-26px {
    font-size: 26px !important;
}



@media screen and (max-width:1600px) {
    body {
        background: url(../img/2106_B2FAIR_M7_Header_1600.jpg) no-repeat;
        background-size: auto;
        background-position: top center;
    }

    #header {
        height: 660px;
    }

    #content-first-block {
        margin-top: 100px;
    }

    #footer-gallery {
        padding-top: 450px
    }
}

@media screen and (max-width:1300px) {
    body {
        background: url(../img/2106_B2FAIR_Header-1300.png) no-repeat;
        background-size: auto;
        background-position: top center;
    }

    #header {
        height: 535px;
    }

    #content-first-block {
        margin-top: 100px;
    }

    #footer-image {
        background: url(../img/b2fair-footer-dubai-1300.svg) no-repeat;
        background-size: contain;
        background-position: top center;
    }

    #footer-gallery {
        padding-top: 350px
    }

    .heading-60px {
        font-size: 50px !important;
    }

    .heading-40px {
        font-size: 30px !important;
    }
}

@media screen and (max-width:900px) {
    body {
        background: url(../img/2106_B2FAIR_M7_Header_900.jpg) no-repeat;
        background-size: auto;
        background-position: top center;
    }

    #header {
        height: 650px;
    }

    #content-first-block {
        margin-top: 100px;
    }

    #footer-image {
        background: url(../img/b2fair-footer-dubai-900.svg) no-repeat;
        background-size: contain;
        background-position: top center;
    }

    #footer-gallery {
        padding-top: 250px
    }

    .heading-60px {
        font-size: 45px !important;
    }

    .heading-30px {
        font-size: 25px !important;
    }

    .heading-26px {
        font-size: 22px !important;
    }

    .heading-40px {
        font-size: 15px !important;
    }
}

@media screen and (max-width:600px) {
    body {
        background: url(../img/2106_B2FAIR_M7_Header_600.jpg) no-repeat;
        background-size: auto;
        background-position: top center;
    }

    #header {
        height: 485px;
    }

    #content-first-block {
        margin-top: 100px;
    }

    #footer-gallery {
        padding-top: 150px
    }

    .heading-60px {
        font-size: 30px !important;
    }

    .heading-40px {
        font-size: 19px !important;
    }

    .heading-30px {
        font-size: 18px !important;
    }

    .heading-26px {
        font-size: 16px !important;
    }



}



/* MENU STYLING */
.toggleNav {
    z-index: 99999999;
    cursor: pointer;
    top: 30px;
    right: 80px
}

.toggleNav img {
    float: right;
}

body.nav-toggled {
    overflow: hidden;
}

.overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000000;
    font-family: Gotham, "Helvetica Neue", Arial, sans-serif;
    display: block;
    /* transition: 0.3s; */
    font-weight: 300;
}

.overlay a:hover,
.overlay a:focus,
.overlay a:hover sup,
.overlay a:focus sup {
    color: #003399 !important;
    font-weight: 400;
}

sup {
    top: -.5rem !important;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}