@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/*
    size
        menu = 100px
        header=610px
        bottom=405px


    COULEURS:::
        blanc           #fff
        gris-clair      #f9f9f9
        gris-foncé      #1c1c1c
        noir            #000
*/
html,body {     height: 100%;    width: 100%;     margin: 0;    padding: 0;}
body {    overflow: hidden;    position: relative;}
*{    font-family: 'Lato', sans-serif;    color: #2c2c2c;     font-size: 14px;}
body.mobile p{    font-size: 15px;}
h1,h2,h3 {    font-weight: 100;}
h1 {    font-size: 40px;    margin-top: 70px;}
h2 {    font-size: 23.6px; font-weight: 500; }
h3 {    font-size: 20px;}
ul{    text-align: left;    margin-left: 10px;}
ul li {  margin: 5px;  padding-left: 10px;}

p{    font-size: 14px; color: #5f5f5f; }
/* LO-RES */
@media screen and (max-width : 800px), screen and (max-height : 840px){
    p{
        font-size: 16px;
    }
}
/* **************
 *	CONTENT		*
 ************** */

.contentBlock {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.subContainer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
/* LO-RES */
@media screen and (max-width : 1400px){
    .innerContainer{
        display: block;
        width: 950px;
        margin:0 auto;
    }
}
/* HI-RES */
@media screen and (min-width : 1400px){
    .innerContainer{
        display: block;
        width: 1400px;
        margin:0 auto;
    }
}
body.mobile .innerContainer{
	display: block;
	width: 90%;
	margin:0 auto;
}

/* **********************

	NAVIGATION

 ********************** */
/*nav #mobileMenu{		display:none;			}*/
nav{
    position: fixed;
    top: 0; bottom: 0;
    width: 100%;
    height: 90px;
    display: block;    
    z-index: 10000;
    padding: 0;
    margin: 0;
    background: #ffffff;
}
nav #mainmenu{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    background: #fff;
    box-shadow: inset 1px -2px 5px 0px gainsboro;
}
nav #submenu{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 50%;
    background: #f9f9f9;
    z-index: -2;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}
nav #submenu.visibleSub{
    top: 100%;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}
nav #submenu a{
    display: inline-block;
    float: right;
    width: auto; height: 100%;
    text-decoration: none;
    line-height: 50px;
    font-size: 15px;
    margin: 0 13px;
}
nav #submenu a:hover {
    color: #9e9b7e;
}
nav #logo img{
    display: inline-block;
    position: relative;
    float: left;
    height: 34px;
/*    width: 200px;*/
    margin: 30px 100px;
}
nav #logo:hover{
    cursor: pointer;
}
#socialHeader{
    width: 110px;
    height: 100%;
    float: right;
}
#socialHeader a{
    display: inline-block;
    width: 20px;
    height: 27px;
    line-height: 90px;
    margin: 0;
    font-size: 23px;
}
#youtube-menu{
    margin: 0 20px 0 15px !important;
}
#socialHeader a:hover{
    cursor: pointer;
}
/* BURGER MENU */
#burger *{
    margin: 0; padding: 0;
}
#burger {
  width: 40px;
  height: 30px;
  position: relative;
  padding: 0;
    margin: 30px 40px;
    float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#burger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
  left: 8px;
}

#burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}

/* **********************
	SERVICES
 ********************** */

#services{
/*    background: blue;*/
    position: relative;
}
#serviceline{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 53.81%;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}
.clientsline {
    position: absolute;
    top: 65.75%;
    left: 0;
    height: 34.25%;
    width: 100%;
    background: #f9f9f9;
}
.clientsline h2 {
    width: 100%;
    background: #fff;
    line-height: 100px;
    color: #000;
    font-weight: bold;
    margin: 0 0 40px 0;
    padding: 0;
    text-align: center;
    font-size: 19px;
}
.bx-wrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #f9f9f9;
    max-width: 1300px !important;
}
#client-left-arrow, #client-right-arrow{
    display: block;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100px;
    font-size: 70px;
    font-family: monospace;
    color: #3e3e3e;
}
#client-left-arrow:hover, #client-right-arrow:hover{
    cursor: pointer;
}
.bxslider li{
    margin: 0 !important;
    padding: 0 !important;
}
/* **********************
	WORK
 ********************** */

#work {
    text-align: left;
    display: table;
    background: #f9f9f9;
}
#workheader{
    height: calc( 33% - 90px );
    padding-top: 90px;
    width: 100%;
    display: block;
    float: left;
    position: relative;
}
#work.showdetails #workheader {
    height: calc( 20% - 60px );
}
#work.showdetails #workheader h2 {
    margin-top: 5%;
}
#workheader h2{
    text-align: center;
    margin-top: 8%;
}
#workcontent, #workcontent-details{
    height: 67%;
    width: 100%;
    background: #fff;
    display: block;
    float: left;
}
#work.showdetails #workcontent{
    display: none;
}
#work #workcontent-details{
    display: none;
    height: 80%;
}
#work.showdetails #workcontent-details{
    display: block;
}
#work .projectTileContainer {
    display: table-cell;
/*    height: 50%;*/
    height: calc( 36.8% + 90px );
	width: 30%;  
	padding: 0;
    margin: 0; 
	float: left;
	overflow: hidden;
	position: relative;
}
#work .projectTileContainer#youtubeTileContainer {
    display: table-cell;
    height: 50%;
	width: 10%;  
	padding: 0;
    margin: 0; 
	float: right;
	overflow: hidden;
	position: relative;
}
.mobile #work .projectTileContainer {
	width: 100%;  
}
#work .projectTileContainer:hover {
	cursor: pointer; 
}
#work .projectTileContainer .projectTile  {
	display: block; 
    margin: 0; 
    padding: 0;
	width: 100%; 
    height: 100%; 
/*    margin-top: -14px;*/
}
#work #workspacer {
    display: block;
    height: 50px;
    width: 100%;
    background: black;
}
#work .projectTileContainer .GrayBackground  {
	display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.0;
/*
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
*/
}
#work .projectTileContainer:hover .GrayBackground  {
    opacity: 1.0;
/*
    -webkit-transition: .5s opacity;
    -ie-transition: .5s opacity;
    transition: .5s opacity;
*/
}
#work .projectTileContainer .projectTile#leadGeneration  {
	background: url(../img/works/Lead_Generation_Off.png) no-repeat;
	background-size: cover;
}
#work .projectTileContainer .projectTile#brandAwareness  {
	background: url(../img/works/Brand_Awareness_Off.png) no-repeat;
	background-size: cover;
}
#work .projectTileContainer .projectTile#explainerAnimation  {
	background: url(../img/works/Explainer_Off.png) no-repeat;
	background-size: cover;
}
#work .projectTileContainer .projectTile#raisingAwareness  {
	background: url(../img/works/Raising_Awareness_Off.png) no-repeat;
	background-size: cover;
}
#work .projectTileContainer .projectTile#testimonials  {
	background: url(../img/works/Testimonials_Off.png) no-repeat;
	background-size: cover; 
}
#work .projectTileContainer .projectTile#eventCoverage  {
	background: url(../img/works/Event_Coverage_Off.png) no-repeat;
	background-size: cover;
}
#work .projectTileContainer .projectTile#youtubeTile  {
	background: url(../img/works/Youtube_OFF_2.jpg) no-repeat;
	background-size: cover;
}
#work .projectTileContainer#youtubeTileContainer .GrayBackground{
/*#work .projectTileContainer .projectTile#youtubeTileGrayBackground{*/
	background: #01B6E5;
}
#work .projectTileContainer #leadGenerationGrayBackground ,
#work .projectTileContainer #brandAwarenessGrayBackground,
#work .projectTileContainer #explainerAnimationGrayBackground,
#work .projectTileContainer #raisingAwarenessGrayBackground,
#work .projectTileContainer #testimonialsGrayBackground,
#work .projectTileContainer #eventCoverageGrayBackground {
	background: url(../img/works/ON_Red.png) no-repeat;;
	background-size: cover;
}
#work .projectTileContainer .projectTitle {
	position: absolute;
    color: #fff;
    top: 53%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
/*
    -webkit-transition: .5s color;
    -ie-transition: .5s color;
    transition: .5s color;
*/
}  
#work .projectTileContainer#youtubeTileContainer .projectTitle {
    top: 25%;
}
#work .projectTileContainer .projectBaseline {
	display: none;
}
#work .projectTileContainer:hover .projectBaseline {
    display: block;
	position: absolute;
    color: #fff;
    top: 72%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
/*
    -webkit-transition: .5s color;
    -ie-transition: .5s color;
    transition: .5s color;
*/
}
.mobile #work .projectTileContainer .projectTitle {
    top: 20%;
}
#work .projectTileContainer:hover .projectTitle, .mobile #work .projectTileContainer .projectTitle {
/*
    -webkit-transition: .5s color;
    -ie-transition: .5s color;
    transition: .5s color;
*/
}
#work .projectTileContainer .projectTitle.revertcolor,
#work .projectTileContainer .projectBaseline.revertcolor{
    color: #000;
}
#work .projectTileContainer:hover .projectTitle.revertcolor,
#work .projectTileContainer:hover .projectBaseline.revertcolor{
    color: #fff;
}
#work .projectTileContainer .projectDesc {
	visibility: hidden;
}
#work .projectTileContainer .projectIcon{
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    height: 15%;
}
#work .projectTileContainer #youtubeTile .projectIcon{
    top: 55%;
}
#work .projectTileContainer #leadGeneration .projectIcon{
	background: url(../img/works/lead.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #brandAwareness .projectIcon{
	background: url(../img/works/brand.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer:hover #brandAwareness .projectIcon{
	background: url(../img/works/brand-white.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #explainerAnimation .projectIcon{
	background: url(../img/works/explainer.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #raisingAwareness .projectIcon{
	background: url(../img/works/raising.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer:hover #raisingAwareness .projectIcon{
	background: url(../img/works/raising-white.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #testimonials .projectIcon{
	background: url(../img/works/testimonials.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #eventCoverage .projectIcon{
	background: url(../img/works/event.png) no-repeat;
	background-size: contain;
    background-position: 50%;
}
#work .projectTileContainer #youtubeTile .projectIcon{
	background: url(../img/works/youtube.png) no-repeat;
	background-size: contain;
    background-position: 50%;
    height: 14%;
}
/* **** */
.tileContent .tileContentBlock .tileIcon {
    width: auto;
    height: 150px;
}

.tileContent .tileContentBlock .tileTitle {
    background: url(../img/cadre%20orange%20avec%20coin%20blanc.svg) no-repeat;
    background-size: 100%;
    line-height: 35px;
    width: 100%;
    margin: 5px 0;
    color: #EAEAEA;
    font-family: 'jaapokkiregularregular';
    text-transform: uppercase;
    font-size: 15px;
}
.tileContent .tileContentBlock .tileDesc {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #EAEAEA;
    font-family: 'open_sansregular';
    font-size: 13px;
    text-align: center;
    padding: 3px;
}
#triangleTileContainer{
    width: 0 !important;
    overflow: visible !important;
}
#triangleTileContainer #triangle{
    width: 100px;
    height: 100px;
    display: block;
    background: white;
    position: absolute;
    left: -50px;
    top: 95%;
    transform: rotate(45deg);
    z-index: 100;
}
/* LO-RES */
@media screen and (max-width : 1400px) { 
    .tileContent .tileContentBlock .tileTitle {
        font-size: 13px;
    }
    .tileContent .tileContentBlock .tileDesc {
        font-size: 11px;
    }
}

.tileContentWrapper {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tileContentBlockWrapper {
    width: 1050px;
    height: 275px;
    margin:0 auto
}
@media screen and (min-width:1500px) {
    .tileContentBlockWrapper {
        width: 1500px;
    }
}
.errorContainer {
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 100%;
}
.errorContainer .error {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 40px;
    text-align: right;
    color: #F26F21;
    font-family: 'jaapokkiregularregular';
    font-style: italic;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    transition: transform .1s ease-out, -webkit-transform .1s ease-out;
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
}
.errorContainer .error {

}
.errorContainer .error.errorActive {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: transform .2s cubic-bezier(.16, .86, .6, 1.39);
    transition: transform .2s cubic-bezier(.16, .86, .6, 1.39), -webkit-transform .2s cubic-bezier(.16, .86, .6, 1.39);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}
/* *********************************** */

.expertisebloc{
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
    margin: 5% 0;
    width: 98%;  
}
.expertisebloc h3{ 
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
}
.expertisebloc .expertiseDesc{
    color: #fff;
    width: 210px;
    margin: 0 auto;
    text-align: justify;
    font-size: 12.7px;
}
@media screen and (min-width:900px) {
    .expertisebloc{
        width: 33.3%;        
    }
}
.strategyicn, .creationicn, .impacticn{
/*    margin: 10px auto; */
    display: block;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: -25px auto -30px;
}
@media screen and (max-width:1300px) {
    .strategyicn, .creationicn, .impacticn{
        display: block;
        margin: 0 auto;
    }
}
.strategyicn {
    background: url(../img/sprite_strategy_off.png) no-repeat;
    background-position: -2500px;
}
.strategyicn:hover {
    background: url(../img/sprite_strategy_on.png) no-repeat;
    background-position: -4250px;
}
.strategyicn{ /* 11 frames à 30 fps = durée de .366s  */
    -webkit-animation: rplaystra .366s steps(10);
       -moz-animation: rplaystra .366s steps(10);
        -ms-animation: rplaystra .366s steps(10);
         -o-animation: rplaystra .366s steps(10);
            animation: rplaystra .366s steps(10);
}
.strategyicn:hover{ /* 18 frames à 30 fps = durée de .6s  */
    -webkit-animation: playstra .6s steps(17);
       -moz-animation: playstra .6s steps(17);
        -ms-animation: playstra .6s steps(17);
         -o-animation: playstra .6s steps(17);
            animation: playstra .6s steps(17);
}
@-webkit-keyframes playstra {
   from { background-position:    0px; }
     to { background-position: -4250px; }
}
@-moz-keyframes playstra {
   from { background-position:    0px; }
     to { background-position: -4250px; }
}
@-ms-keyframes playstra {
   from { background-position:    0px; }
     to { background-position: -4250px; }
}
@-o-keyframes playstra {
   from { background-position:    0px; }
     to { background-position: -4250px; }
}
@keyframes playstra {
   from { background-position:    0px; }
     to { background-position: -4250px; }
}
@-webkit-keyframes rplaystra {
   from { background-position:    0px; }
     to { background-position: -2500px; }
}
@-moz-keyframes rplaystra {
   from { background-position:    0px; }
     to { background-position: -2500px; }
}
@-ms-keyframes rplaystra {
   from { background-position:    0px; }
     to { background-position: -2500px; }
}
@-o-keyframes rplaystra {
   from { background-position:    0px; }
     to { background-position: -2500px; }
}
@keyframes rplaystra {
   from { background-position:    0px; }
     to { background-position: -2500px; }
}
.creationicn {
    background: url(../img/sprite_creation_off.png) no-repeat;
    background-position: -2750px;
}
.creationicn:hover {
    background: url(../img/sprite_creation_on.png) no-repeat;
    background-position: -4500px;
}
.creationicn{ /* 12 frames à 30 fps = durée .4s */
    -webkit-animation: rplaycre .4s steps(11);
       -moz-animation: rplaycre .4s steps(11);
        -ms-animation: rplaycre .4s steps(11);
         -o-animation: rplaycre .4s steps(11);
            animation: rplaycre .4s steps(11);
}
.creationicn:hover{ /* 19 frames à 30 fps = durée .633s  */
    -webkit-animation: playcre .633s steps(18);
       -moz-animation: playcre .633s steps(18);
        -ms-animation: playcre .633s steps(18);
         -o-animation: playcre .633s steps(18);
            animation: playcre .633s steps(18);
}
@-webkit-keyframes playcre {
   from { background-position:    0px; }
     to { background-position: -4500px; }
}
@-moz-keyframes playcre {
   from { background-position:    0px; }
     to { background-position: -4500px; }
}
@-ms-keyframes playcre {
   from { background-position:    0px; }
     to { background-position: -4500px; }
}
@-o-keyframes playcre {
   from { background-position:    0px; }
     to { background-position: -4500px; }
}
@keyframes playcre {
   from { background-position:    0px; }
     to { background-position: -4500px; }
}
@-webkit-keyframes rplaycre {
   from { background-position:    0px; }
     to { background-position: -2750px; }
}
@-moz-keyframes rplaycre {
   from { background-position:    0px; }
     to { background-position: -2750px; }
}
@-ms-keyframes rplaycre {
   from { background-position:    0px; }
     to { background-position: -2750px; }
}
@-o-keyframes rplaycre {
   from { background-position:    0px; }
     to { background-position: -2750px; }
}
@keyframes rplaycre {
   from { background-position:    0px; }
     to { background-position: -2750px; }
}
.impacticn {
    background: url(../img/sprite_measurement_on-off.png) no-repeat;
}
.impacticn:hover {
    background: url(../img/sprite_measurement_on-off.png) no-repeat;
    background-position: -3750px;
}
.impacticn{ /* 16 frames à 30 fps = durée de .533s  */
    -webkit-animation: rplayimp .533s steps(15);
       -moz-animation: rplayimp .533s steps(15);
        -ms-animation: rplayimp .533s steps(15);
         -o-animation: rplayimp .533s steps(15);
            animation: rplayimp .533s steps(15);
}
.impacticn:hover{ /* 16 frames à 30 fps = durée de .533s  */
    -webkit-animation: playimp .533s steps(15);
       -moz-animation: playimp .533s steps(15);
        -ms-animation: playimp .533s steps(15);
         -o-animation: playimp .533s steps(15);
            animation: playimp .533s steps(15);
}
@-webkit-keyframes playimp {
   from { background-position:    0px; }
     to { background-position: -3750px; }
}
@-moz-keyframes playimp {
   from { background-position:    0px; }
     to { background-position: -3750px; }
}
@-ms-keyframes playimp {
   from { background-position:    0px; }
     to { background-position: -3750px; }
}
@-o-keyframes playimp {
   from { background-position:    0px; }
     to { background-position: -3750px; }
}
@keyframes playimp {
   from { background-position:    0px; }
     to { background-position: -3750px; }
}
@-webkit-keyframes rplayimp {
 from { background-position: -3750px; }
   to { background-position:    0px; }
}
@-moz-keyframes rplayimp {
 from { background-position: -3750px; }
   to { background-position:    0px; }
}
@-ms-keyframes rplayimp {
 from { background-position: -3750px; }
   to { background-position:    0px; }
}
@-o-keyframes rplayimp {
 from { background-position: -3750px; }
   to { background-position:    0px; }
}
@keyframes rplayimp {
 from { background-position: -3750px; }
   to { background-position:    0px; }
}
/*
    CONTACT
*/
#contact{
}
#contact .subContainer{
    padding-top: 90px;
    height: calc( 100% - 90px);
}
#contact-header{
    margin-top: 150px;
}
#contact #contactcontainer{
    max-width: 1170px;
    margin: 0 auto;
}
#contact #contactformcontainer{
    max-width: 700px;
    padding-right: 50px;
    float: left;
}
#contact #contactadd{
    max-width: 380px;
    float: left;
    font-family: 'Lato', sans-serif;
    color: #5f5f5f;
    line-height: 26px;
    font-size: 14px;
    margin-left: 30px;
}
#contact h3{
    font-size: 24px; 
}
#contact input, #contact  textarea {
    width: 100%;
    background: transparent;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5), 0 0px 0px rgba(0, 0, 0, 0.16);
    padding: 18px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#contact input:hover, #contact textarea:hover,#contact  input:focus,#contact  textarea:focus {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.16);
}
#contact input[type="submit"] {
    border-radius: 50px;
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    padding: 10px 18px;
    border: 1px solid #252525;
    color: #252525;
    min-width: 120px;
    max-width: 120px;
    box-shadow: none !important;
    float: left;
}
#contact input[type="submit"]:hover {
    cursor: pointer;
    border-color: #9e9b7e;
    color: #9e9b7e;
}
/* 
FOOTER
*/
#footer{
    display: block;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; height: 320px;
    margin: 0; padding: 0;
}
#foot1,#foot2{
    position: relative;
    width: 100%;
    margin: 0; padding: 0;
    float: left;
    text-align: left;
}
#foot1>div,#foot2>div{
    max-width: 1170px;
    text-align: left;
    margin: 0 auto;
}
#foot1{    
    height: 180px;
    padding-top: 60px;
    background: #1c1c1c;
    color: #c6c6c6;
}
#foot2{
    height: 79px;
    background: #000;
    border-top: 1px solid #333333;
    color: #fff;
}
#foot2 div p{
    line-height: 60px;
}
#foot1 p, #foot2 p {
    color: #c6c6c6;
    line-height: 2;
}
#foot2 #footersocial{
    width: 120px; 
    height: 30px;
    margin-top: -20px;
    float: right;
}
#foot2 #footersocial a{
    display: inline-block;
    width: 25px;
    height: 50px;
    line-height: 100px; 
    margin: 0 5px;
    font-size: 16px;
}
#footersocial a i.fa {
    color: #c6c6c6;
}
#foot2 #footersocial a:hover{
    cursor: pointer;
}
/* SERVICES PAGE */
#services1 .subContainer, #services2 .subContainer, #services3 .subContainer{
    display: table;
}
#services1 .subContainer>div, #services2 .subContainer>div, #services3 .subContainer>div {
    display: table-cell;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 250px;
    vertical-align: middle;
}
#services1 .subContainer>div>div, #services2 .subContainer>div>div, #services3 .subContainer>div>div {
    max-width: 100%;
    max-height: 100%;
    width: 1120px;
    height: 600px;
    margin: 0 auto;
}
.servicesicon{
    background: url(../img/services.png) no-repeat;
    background-size: contain;
    display: block;
    width: 250px;
    height: 100%;
    float: left;
}
.servicesicon.righticon{
    float: right;
}
.servicestext{
    display: block;
    text-align: left;
}
/* work details */
#details-header {
    height: 75px;
    width: 100%;
    position: relative;
}
#details-header div, #details-header span, #details-subnav a {
    font-size: 24px;
}
#details-icon, #details-title, #details-nav {
    float: left;
    height: 100%;
}
#details-icon {
    width: 10%;
    background: url(../img/works/brand.png) no-repeat;
    background-size: contain;
    background-position: 50% !important;    
    background-size: 40% !important;
}
#details-title {
    margin: 0 20px 0 5px;
    font-weight: bold;
    line-height: 75px;
    color: black;
}
#details-nav {
    width: 10%;
}
#details-nav span {
    font-size: 45px;
    margin: 10px 5px 0 5px;
    font-weight: 100;
    float: left;
}
#closeDetails {
    font-size: 31px;
    margin-top: 17px;
}
#details-corner {
    height: calc( 100% - 130px);
    margin-top: 57px;
    width: 10%;
    float: left;
    background: url(../img/works/Youtube_OFF_2.jpg) no-repeat;
    background-size: cover;
}
#details-subnav {
    margin-left: 10%;
    width: calc( 40% - 30px);
    height: 55px;
    border-top: 2px solid red;
    padding: 0 15px;
}
#details-subnav a {
    display: none;
    float: left;
    height: 100%;
    margin: 0 20px;
    line-height: 50px;
    font-size: 22px;
    color: #808080;
}
#details-subnav a.visibleNav {
    display: inline-block;
}
#details-nav span:hover, #details-subnav a:hover{
    cursor: pointer;
}
#details-subnav a.subnavSelected {
    font-weight: bold;
    color: black;
}
.details-container {
    display: none;
    width: calc( 40% - 80px );
    height: calc( 100% - 210px);
    background: #F9F9F9;
    padding: 40px;
    position: relative;
}
.details-container.visibleDetails{
    display: inline-block;
}
.details-triangle {
    width: 50px;
    height: 50px;
    display: block;
    background: white;
    position: absolute;
    left: -25px;
    top: -25px;
    transform: rotate(45deg);
    z-index: 100;
    margin: 0 !important;
    padding: 0 !important;
}
.details-container>div {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
}
.details-container .details-subtitle{
    font-weight: bold;
}
.details-video {
    float: right;
    width: 50%;
    height: calc( 100% - 100px );
    position: relative;
    display: none;
}
.details-video.visibleDetails {
    display: block;
}
.details-video>div {
    display: table;
    width: 100%; height: 100%; padding: 0; margin: 0;
}
.details-video>div iframe {
    display: table-cell;
    vertical-align: middle;
    margin: 5% auto;
}
.details-disclaimer{
    border: 0;
}
.details-company .details-content{
    margin: 10px;
    text-align: justify;
    width: 80%;
}
.details-target-broadk{
    width: 98%;
}
.details-target, .details-broadcasting {
    float: left;
    width: calc( 50% - 20px );
    position: relative;
}
.details-target .details-content,
.details-broadcasting .details-content{
    margin: 10px;
    text-align: justify;
    width: 98%;
}
.details-context .details-content{
    margin: 10px;
    text-align: justify;
    width: 98%;
}
.details-disclaimer{
    border: 0 !important;
}
.details-disclaimer .details-content{
    margin: 10px;
    text-align: justify;
    width: 57%;
}



.bx-wrapper .bx-prev,
.bx-wrapper .bx-next  {
    background: red;
    content: '<';
    font-size: 70px;
    font-family: monospace;
    color: #3e3e3e;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    left: -50px;
    background: url(../img/arrow-left.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.bx-wrapper .bx-next, .bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus    {
    right: -50px;
    background: url(../img/arrow-right.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}
.bx-pager {
    display: none;
}