<h2>Nouveaux templates</h2>
<a href="FullPageVisu">FullPageVisu</a>
<a href="cvLike	">cvLike</a>


<h2>Vieux templates</h2>
<a href="MagicLine">MagicLine</a>
<a href="angled">angled</a>
<a href="mywebsite">mywebsite</a>
<a href="standart">standart</a>
<a href="vertPara">vertPara</a>
<a href="xyMove">xyMove</a>