@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

*{
	font-family: 'Droid Sans', sans-serif;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
}
html,
button,
select {
    color: #FFFFFF;
}
textarea, input  {
    color: #0e244a;
    width: calc( 100% - 30px);
    border: 3px solid #fed500;
    font-size: 22px;
    padding: 5px;
    font-weight: bold;
}
@media screen and (max-width:1300px) {
    textarea, input  {
        font-size: 15px;
        padding: 3px;
    }
}
body {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
	background : black;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    /*margin: 0 5%;*/
}

/* ===================
    ALL: Orange Theme
   =================== */
h1,h2,h3{
font-family: 'Droid Sans', sans-serif;
}
.title {
    color: #f9f9f9;
	display:block;
	width:100%;
	text-align:center;
}
.ie7 .title {
    padding-top: 20px;
}

header h1.title img {

}

/*
#contactBody.mobileView header h1.title img {
	width:40%;
	height:auto;
	margin:0;
}
*/
@media screen and (max-width:1300px) {
    h1,h2,h3{
        margin-top: 10px;
    }
    #contactBody header h1.title img {
        width:40%;
        height:auto;
        margin:0;
    }
}
#mobileBack {
	position:fixed;top:0;left:0;width:100%;height:100%; z-index:-5;
}
#mobileBack div {
	position:absolute;top:0;left:0; width : 100%; height : 100%;
}
.wrapper {
	/*max-width: 1026px;*/
	margin: 0 auto;
}

nav {
	float: right;
	width: 100%;
	display:block;
	position:relative;
	background: rgba(0, 0, 0, 0.4);
}
nav ul {
    margin: 0;
    padding: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align:center;
	width: 630px;
    height: 55px;
}
nav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #f9f9f9;
	border: 3px solid #B40909;
	border-top: 1px solid #B40909;
	border-left: 0;
/*	border-radius: 50px;*/
	float: left;
/*	width: 190px;*/
	margin-top :5px;
	margin-bottom: 5px;
	margin-right :10px;
	padding: 10px 30px;
	font-size: 20px;
	font-family: 'Droid Sans', sans-serif;	/*font-weight: 400;*/
}
nav a:hover {
    color: #f9f9f9;
    text-decoration: none;
}
nav a:hover {
    background: rgba(187, 28, 28, 0.36);
}
/*
.mobileView nav a {
	font-size: 11px;
        width: calc(33.33% - 20px);
}
*/


.currentPageMenuItem, .menuSelected {
    background: rgba(187, 28, 28, 0.36);
}

.main article h1 {
    font-size: 2em;
}

.main article {
	float: left;
	width: 100%;
/*	margin-bottom:100px;*/
	position:relative;
/*    padding: 27px;*/
}
/*
.mobileView .main article {
    width: 100%;
}
*/

a{
	color: #FED500;
}
a:hover {
	text-decoration: none;
    cursor: pointer;
}
body .header-container,
body.reloadingContent .header-container {
	background: #0e244a;
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 105%;
	display: table;
	-webkit-transition: height .25s;
	-ie-transition: height .25s;
	transition: height .25s;
}
body.contentReloaded .header-container,
.bodyLoaded .header-container {
	height: 200px;
	-webkit-transition: height 1.5s;
	-ie-transition: height 1.5s;
	transition: height 1.5s;
/*
	-webkit-transition-delay: 1s;
	-ie-transition-delay: 1s;
	transition-delay: 1s;
*/
}
/*
body.contentReloaded.mobileView .header-container,
.bodyLoaded.mobileView .header-container {
	height: 120px;
}
*/
@media screen and (max-width:1300px) {
    body.contentReloaded .header-container,
    .bodyLoaded .header-container {
        height: 160px;
    }
}
.header-container .title {
	margin: 0;
	padding: 0;
}
.header-container .wrapper{
	display: table-cell;
	vertical-align: middle;
    border-bottom: 3px solid #FED500;
}
.main-container{
	/*padding-top: 200px;*/
    display: block;
    /*background: #c1b9b9;*/
    height: calc( 100% - 235px );
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
    top: 200px;
    width: 100%;
}
/*
.mobileView .main-container{
    top: 120px;
    height: calc( 100% - 170px )
}
*/
@media screen and (max-width:1300px) {
    .main-container{
        top: 160px;
        height: calc( 100% - 210px );
    }
}
.whitebanner{
    /*width: 100%;
    padding: 27px;
     margin-bottom: 100px;*/

    /*background: #f9f9f9;*/
    width: 100%;
    color: #f9f9f9;
    margin-bottom: 100px;
    display: table;
}
.whitebanner{
    display: block;
}
.bottomarrow {
    padding: 75px;
/*    background: #f9f9f9;*/
}
/*
.mobileView .bottomarrow {
    padding: 15px;
}
*/

@media screen and (max-width:1300px) {
    .bottomarrow {
        padding: 15px;
    }
}
/*
.bottomarrow::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: #f9f9f9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -5px;
    left: 45%;
    z-index: -1;
}
*/
/*
.leftblock, .rightblock {
    overflow: hidden;
    padding-bottom: 25px;
    width: 50%;
    margin: 0;
    display: table-cell;
    height: auto;
    position: relative;
}
.mobileView .leftblock,.mobileView .rightblock {
    width: 100%;
    display: inline-block;
    margin-bottom: -25px;
    margin-top: 0px;
}

.leftblock div,.rightblock div {
    width: 50%;
    padding: 30px;
    margin: 0;
    display: table-cell;
    height: auto;
    position: relative;
}
.mobileView .leftblock div,.mobileView .rightblock div {
    padding: 5px;
    display: inline-block;
    width: calc( 100% - 10px);
}
*/
/*
.mobileView #addressBox p, .mobileView #contactForm p {
    margin: 0;
}
*/
@media screen and (max-width:1300px) {
    #addressBox p, #contactForm p {
        margin: 0;
    }
}

.leftblock header, .rightblock header{
    text-align: center;
}
body .header-container .wrapper img,
body.reloadingContent .header-container .wrapper img {
	margin-top: 0px;
	width: auto; height: 100px;
}
body.contentReloaded .header-container .wrapper img,
.bodyLoaded .header-container .wrapper img{
	width: auto; height: 100px;
	margin-top: -45px;
	-webkit-transition: margin-top 1.5s;
	-ie-transition: margin-top 1.5s;
	transition: margin-top 1.5s;
/*
	-webkit-transition-delay: 1.5s;
	-ie-transition-delay: 1.5s;
	transition-delay: 1.5s;
*/
	-webkit-transition-delay: 0.5s;
	-ie-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
/*
body.contentReloaded.mobileView .header-container .wrapper img,
.bodyLoaded.mobileView .header-container .wrapper img,
body.mobileView .header-container .wrapper img,
body.reloadingContent.mobileView .header-container .wrapper img{
	margin-top: -40px;
    height: 50px;
}
*/

@media screen and (max-width:1300px) {
    body.contentReloaded .header-container .wrapper img,
    .bodyLoaded .header-container .wrapper img,
    body .header-container .wrapper img,
    body.reloadingContent .header-container .wrapper img{
        margin-top: -40px;
        height: 50px;
    }
}
body nav,
body.reloadingContent nav {
	background: none;
	margin-top: 12px;
	position: absolute;
	z-index: 11;
	opacity: 0.0;
}
/*
body.mobileView nav,
body.reloadingContent.mobileView nav {
	margin-top: -5px;
}
*/
@media screen and (max-width:1300px) {
    body nav,
    body.reloadingContent nav {
        margin-top: 5px;
    }
}
body.contentReloaded nav,
.bodyLoaded nav {
	opacity: 1.0;
	-webkit-transition: opacity .5s;
	-ie-transition: opacity .5s;
	transition: opacity .5s;
/*
	-webkit-transition-delay: 2.5s;
	-ie-transition-delay: 2.5s;
	transition-delay: 2.5s;
*/
	-webkit-transition-delay: 1.5s;
	-ie-transition-delay: 1.5s;
	transition-delay: 1.5s;
}
nav a {
	border: 0;
	background: none;
	margin: 5px 0;
    text-transform: uppercase;
}
nav ul{
	width: 600px;
	height: 55px;
    max-width: 100%;
}
@media screen and (max-width:700px) {
    nav ul{
        width: 280px;
    }
    nav a {
        font-size: 11px;
        padding: 10px 10px;
    }
}
.currentPageMenuItem, .menuSelected, nav a:hover {
	border: 0;
	background: #FED500;
/*	border-bottom: 3px solid #FED500;*/
	border-radius: 0px;
    color: #22427B;
    font-weight: bold;
}
nav a:hover {
	background: #f7cf00;
    color: #22427B;
    font-weight: normal;
}
nav a.menuSelected:hover {
    font-weight: bold;
}
nav a.menuSelected:hover {
	margin-left: 0;
    margin-right: 0;
}
#mobileBackImg{}
#mobileBackOverlay{}
.filter-icon{
	/*width: 40px; height: 40px;*/
	display: inline-block;
	text-align: center;
	margin: 5px;
}
.filter-icon img{
	width: 32px; height: 32px;
	display: block;
	margin: 0 auto;
}
#projects-grid{
	display: inline-block;
	padding: 10px;
    padding: 0;
    width: 100%;
    background: #22427B;
    padding-top: 10px;
}
@media screen and (max-width:1300px){
    #projects-grid{
        padding-top: 25px;
    }
}
#projects-grid .grid-item{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 33.33%;
    float: left;
    -webkit-transition: width .5s, height .5s, opacity .5s, -webkit-transform .5s;
    transition: width .5s, height .5s, opacity .5s, -webkit-transform .5s;
    transition: width .5s, height .5s, opacity .5s, transform .5s;
    transition: width .5s, height .5s, opacity .5s, transform .5s, -webkit-transform .5s;

    width: 32%;
    padding: 0 0 5px 1%;
}
/*
.mobileView #projects-grid .grid-item{
   width: 98%;
    height: 200px;
}
*/
@media screen and (max-width:1000px) {
    #projects-grid .grid-item{
        width: 43%;
        height: 200px;
    }
}
@media screen and (max-width:700px) {
    #projects-grid .grid-item{
        width: 98%;
        height: 200px;
    }
}
#projects-grid .grid-item div{
    position: relative;
    display: inline-block;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    transition: .5s opacity;
}
#projects-grid .grid-item div:hover,#projects-grid .grid-item div:active {
    opacity: 0.6;
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    transition: .5s opacity;
}
#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #0e244a;
    z-index: 999999;
}
#footer a{
	/*position: relative;*/
}
#footer a #madewithlove {
	height: 30px;
	margin: 10px 8px 0 0;
	width: auto;
	float: right;
	padding: 0;
/*	background: #4e4e4e;*/
}
#footer div{
	height: 40px;
	float: left;
	font-size: 15px;
	padding: 0px 0 0 15px;
	line-height: 20px;
	margin-top: 5px;
}
#footer #owner{
	width: 425px;
}
/*
.mobileView #footer #owner{
	display: none;
}
*/
@media all and (max-width:700px) {
    #footer #owner{
        display: none;
    }
}
#footer #links{
	width: 100px;
	padding: 0;
	margin: 0 -5px 0 20px;
}
#footer #links a{
	text-decoration: none;
}
#footer #links img{
	height: 30px;
	width: 30px;
	margin:10px 5px;
    opacity: 1.0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#footer #links img:hover{
	opacity: 0.7;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#addressBox, #contactForm {
    width: 100%;
    margin: 0 auto 30px;
}
@media all and (max-width:1300px) {
    margin: 0 auto 15px;
}
/*
.mobileView #addressBox, .mobileView #contactForm {
    width: 100%;
}
*/
#addressBox {
    text-align: center;
}
#addressBox img{
    display: inline-block;
    width: 32px;
    height: auto;
    margin: 2px 15px 2px 0;
}
#addressBox img{
   width: 20px;
    height: auto;
    margin: 2px 7px 2px -19px;
}
/*
label{
	width: 100%;
    display: block;
    margin: 0 auto 5px;
    padding: 0;
}
.mobileView label{
	width: 100%;
}
label input{
	float: right;
}
.mobileView label input{
	float: none;
   width: calc( 100% - 30px);
    margin-left: 15px;
}
.mobileView label span{
	display: none;
}
*/
#contactmsg {
    margin: 0;
    width: calc( 100% - 30px);
    height: 100px;
}
/*
.mobileView #contactmsg {
    width: calc( 100% - 30px);
}
*/
@media screen and (max-width:1300px) {
    #contactmsg {
/*        width: calc( 100% - 30px);*/
        height: 50px;
    }
}
#contactbtn {
    display: block;
    width: 100px;
    height: 37px;
    float: right;
    margin: 20px 14px;
    background: #fed500;
    color: #0e244a;
    border: 0;
}
#contactbtn:active {
    background: #e6c204;
}
#realisations{
    background: #22427B;
    margin: 0;
    padding: 0;
    text-align: center;
    height: auto;
    width: 100%;
}
#realisations .filter-icon{
    color: rgba(0, 0, 0, 0.01);
    width: 12.15%;
    height: auto;
    margin: 5px 0 0 0;
    padding: 0;
    position: relative;
}
/*
.mobileView #realisations .filter-icon{
       width: 32.55%;
}
*/

@media screen and (max-width:1300px) {
    #realisations .filter-icon{
       width: calc( 12.15% * 2 );
    }
}
@media screen and (max-width:900px) {
    #realisations .filter-icon{
       width: 49%;
    }
}
#realisations .filter-icon span{
    width: 100%;
    padding: 0 0 19% 0;
    display: block;
    height: 0;
    margin: 0;
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    transition: .5s opacity;
}
.filter-icon span:hover, .filter-icon span:active {
    opacity: 0.6;
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    transition: .5s opacity;
}
#toutprojet span {
    background: url(../img/icons/icones_toutvoir.svg) no-repeat;
    background-size: cover;
}
#construction span {
    background: url(../img/icons/icones_nouvellesconstructions.svg) no-repeat;
    background-size: cover;
}
#renovation span {
    background: url(../img/icons/icones_renovationtransformation.svg) no-repeat;
    background-size: cover;
}
#fondations span {
    background: url(../img/icons/icones_fondation.svg) no-repeat;
    background-size: cover;
}
#egouttages span {
    background: url(../img/icons/icones_egouttage.svg) no-repeat;
    background-size: cover;
}
#maconnerie span {
    background: url(../img/icons/icones_grosoeuvre.svg) no-repeat;
    background-size: cover;
}
#feraillebeton span {
    background: url(../img/icons/icones_ferraillagecoffrage.svg) no-repeat;
    background-size: cover;
}
#exterieur span {
    background: url(../img/icons/icones_amenagementexterieur.svg) no-repeat;
    background-size: cover;
}
article.whitebanner.bottomarrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 100%;
    background: white;
    color: black;
    padding: 15px 30px;
    overflow-y: auto;
    font-size: 14px;
    z-index: 10;
}
.slideshowbloc{
    width: calc( 100% - 450px );
    display: block;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute
}
.slideshowbloc>div{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0; margin: 0;
}
#labelDabati {
    position: absolute;
    top: 0;
    right: 10px;
    width: 180px;
    height: 180px;
    transition: 1s all;
}

@media screen and (max-width:1300px) {
    article.whitebanner.bottomarrow {
        padding: 10px 20px;
        width: 500px;
        max-width: calc( 100% - 40px);
    }
    .slideshowbloc{
        width: calc( 100% - 540px );
    }
    #labelDabati {
        top: 5px;
        right: 10px;
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:900px) {
    #labelDabati {
        width: 100px;
        height: 100px;
    }
}
/*.vegas-overlay { background: url(../vegas2/overlays/03.png), rgba(0, 0, 0, 0.01) !important; } */

span.highlight{
    font-weight: bold;
    color: #0e244a;
/*    font-size: 15px;*/
    border-bottom: 2px solid #fed500;
}
#entreFam{
    font-size: 18px;
    display: block;
    margin: -3px auto;
    background: white;
    width: 215px;
    color: #0e244a;
    font-weight: bold;
    padding: 0;
}
@media screen and (max-width:1300px){
    #entreFam{
        font-size: 11px;
        width: 110px;
    }
}
#services {
    position: absolute;
    top: 0;
    left: 450px;
    width: 150px;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    color: black;
    font-size: 14px;
    z-index: 9;
     margin-left: -150px;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ie-transition: margin 1s;
    transition: margin 1s;
}
#services.serviceselected {
     margin-left: 0;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ie-transition: margin 1s;
    transition: margin 1s;
}
.service {
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    text-transform: uppercase;
    color: #0e244a;
}
#services_link {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    background: #fed500;
    color: #0e244a;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    margin-left: 150px;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ie-transition: margin 1s;
    transition: margin 1s;
}
#services_link:hover {
    cursor: pointer;
}
#services.serviceselected #services_link {
    margin-left: 0;
    -webkit-transition: margin 1s;
    -moz-transition: margin 1s;
    -ie-transition: margin 1s;
    transition: margin 1s;
}
#services_spacer {
    position: absolute;
    left: 448px;
    width: 4px;
    height: 60%;
    top: 20%;
    background: #fed500;
    z-index: 10;
}
@media screen and (max-width:1300px){
    #services {
        left: 540px;
    }
    .service {
        padding: 9px;
        line-height: 1.5;
        font-size: 13px;
    }
    #services_link {
        height: 25px;
    }
    #services_spacer{
        left: 538px;
    }
}
