@import url("reset.css");
@import url("vanilla.custom.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Trade+Winds);
body,
.cards {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 0;
}
body { background: blue }
#container {
    width: 200%;
    height: 200%;
    padding: 0;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background: green;
    overflow: hidden;
}
.cards {
    position: absolute;
    width: 100%;
    height: 50%;
}
#card1 {
    top: 0;
    left: 0;
    display: block;
    background: url(http://fc08.deviantart.net/fs71/f/2013/147/7/a/road_9_by_ashishdhawan-d66re0p.jpg) 0 0 no-repeat;
    background-size: 50% 50%;
}
#card2 {
    top: 0;
    left: 50%;
    display: block;
    background: url(http://fc08.deviantart.net/fs71/f/2013/147/f/8/road_11_by_ashishdhawan-d66refy.jpg) 0 0 no-repeat;
    background-size: 50% 50%;
}
#card3 {
    top: 50%;
    left: 50%;
    display: block;
    background: url(http://fc06.deviantart.net/fs71/f/2013/146/7/7/railroad_tracks_by_owenb23-d66nz1i.jpg) 0 0 no-repeat;
    background-size: 50% 50%;
}
#next1 {
    position: fixed;
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 75px;
    top: 40%;
    right: 5px;
    background: white;
    margin-bottom: 10px;
    z-index: 5;
}
#next2 {
    position: fixed;
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 75px;
    top: 40%;
    left: 5px;
    background: white;
    margin-bottom: 10px;
    z-index: 5;
}
#next3 {
    position: fixed;
    display: block;
    border-radius: 5px;
    height: 40px;
    width: 75px;
    bottom: 5px;
    right: 5px;
    : ;
    background: white;
    margin-bottom: 10px;
    z-index: 5;
}
.titles {
    position: absolute;
    font-size: 7em;
    color: white;
    font-family: 'impact';
    display: block;
}
#title1 {
    left: 35%;
    top: 10%;
    color: #D19116;
}
#title2 {
    left: 55%;
    top: 40%;
    color: #4A6485;
}
#title3 {
    left: 55%;
    top: 90%;
    color: #A2607A;
}
.content {
    position: absolute;
    font-size: 2em;
    color: black;
    display: block;
    width: 40%;
    height: 30%;
    background: rgba(255,255,255,0.5);
    padding: 10px;
}
#content1 {
    left: 5%;
    top: 16%;
}
#content2 {
    left: 55%;
    top: 5%;
}
#content3 {
    left: 53%;
    top: 53%;
}
footer {
    bottom: 0px;
    left: 0px;
    position: absolute;
}
footer #jsnCrdnlSignature {
    display: inline-block;
    float: left;
    margin-left: 7%;
    margin-top: 7%;
    overflow: hidden;
}
footer #preSignature {
    font-family: 'Lobster', cursive;
    color: black;
    display: block;
    width: 100%;
    margin-left: 15px;
    text-align: left;
}
footer #signature {
    float: left;
    font-family: "Trade Winds", cursive;
    font-size: 35px;
    height: 35px;
    margin-left: -10px;
    overflow: hidden;
    width: 180px;
}
footer #signature a { text-decoration: none }
footer #signature:hover { cursor: pointer }